<app-search-box (update)="updateQuery($event)"></app-search-box>
<h2>News</h2>

<main class="all-news">
  <div class="clr-row">
    <!--  ngif news, as news etc. then implement search query, animation -->
    <!-- first card ( latest news ) is highlighted in some way, perhaps 1 opacity or a different
    color or whatever. Perhaps make it bigger so it takes up the whole row?-->
    <app-news-card class="clr-col-md-6 clr-col-12"></app-news-card>
    <app-news-card class="clr-col-md-6 clr-col-12"></app-news-card>
    <app-news-card class="clr-col-md-6 clr-col-12"></app-news-card>
  </div>
</main>
