<!--TODO: fix searchbox-->
<app-search-box (update)="updateQuery($event)"></app-search-box>
<section id="news-section">
  <h1 class="desktop-only">News</h1>
  <div class="clr-row">
    <div class="clr-col-lg-12">

<!--      TODO: this must be turned into a proper component still-->
      <div class="all-news">
        <div class="clr-row">
          <app-news-card class="clr-col-12"></app-news-card>
          <app-news-card class="clr-col-md-6 clr-col-12"></app-news-card>
          <app-news-card class="clr-col-md-6 clr-col-12"></app-news-card>
        </div>
      </div>

    </div>
  </div>
</section>



