<section class="section" id="my-pleas-section">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column">
          <div class="content desktop-only">
            <h2>My initiated pleas</h2>
          </div>
          <div class="column">
            <app-search-field [control]="search"></app-search-field>
            <app-pleas-list [dataSource]="dataSource"></app-pleas-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

