.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.flex-grow {
  flex: 1;
}

.flex-gap {
  gap: 20px;
}

.flex-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*@start space-between-list*/
.space-between-list > li {
  display: flex;
  justify-content: space-between;
}
/*@end user space-between-list*/
