/* @start grid */
.grid {
  //padding: 50px 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

@media only screen and ( min-width: 1440px ){
  .grid {
    //padding: 25px 0;
    max-width: 62vw;
  }
}

@media only screen and ( min-width: 2560px ) {
  .grid {
    max-width: 50vw;
  }
}
/* @end grid */
