clr-accordion-panel .clr-accordion-header {
  background-color: transparent;
  border: none !important;
}

button.clr-accordion-header-button {
  padding-left: 0 !important;
  transition: all 200ms;
}

button.clr-accordion-header-button[aria-expanded='true'],
button.clr-accordion-header-button:hover,
button.clr-accordion-header-button:focus,
button.clr-accordion-header-button:focus-within,
button.clr-accordion-header-button:active {
  padding-left: 0.5rem !important;
}

.clr-accordion-content {
  background-color: var(--primary-color);
  border: none !important;
  padding-bottom: 0.8rem !important;
}

clr-accordion.bg-transparent .clr-accordion-panel,
clr-accordion.bg-transparent .clr-accordion-content {
  background-color: #e3e3e3 !important;
}
