.banner {
  margin: 40px 0;
  padding: 40px 0;
}

@media only screen and (min-width: 1024px){
  .banner.theme-primary,
  .banner.theme-secondary,
  .banner.theme-tertiary,
  .banner.theme-quaternary {
    background-color: transparent;
  }
}
