/*@start btn*/
.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out;

  &[disabled] {
    cursor: not-allowed;
  }
}

.btn:hover:not([disabled]) {
  cursor: pointer;
}
/*@end btn*/



/*@start btn compact*/
.btn-compact {
  padding: 5px 10px;
  border-radius: 5px;
}
/*@end btn compact*/



/*@start btn xs*/
.btn.btn-xs {
  font-size: .8rem;
  padding: 2px 5px;
}
/*@end btn xs*/





/*@start btn primary*/
.btn-primary {
  background-color: var(--quaternary-color);
  border: 2px solid var(--quaternary-color);
  color: var(--primary-color);

  &[disabled] {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
  }
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-within {
  &:not([disabled]) {
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    border-color: var(--quaternary-color);
  }
}
/*@end btn primary*/



/*@start btn secondary*/
.btn-secondary {
  border: 2px solid var(--quaternary-color);
  color: var(--quaternary-color);
  background-color: var(--primary-color);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:focus-within {
  &:not([disabled]){
    background-color: var(--quaternary-color);
    color: var(--primary-color);
  }
}
/*@end btn secondary*/

.btn.btn-outline {

}



/*@start btn vertical margin*/
.btn-vertical-margin {
  margin-top: 45px;
  margin-bottom: 15px;
}
/*@end btn vertical margin*/



/*@start btn list horizontal*/
.btn-list.horizontal > li:last-child {
  margin-right: 0;
}

.btn-list.horizontal > li {
  margin-right: 10px;
  display: inline-block;
}
/*@end btn list*/



/*@start btn danger*/
.btn-danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: var(--primary-color);
}
/*@end btn danger*/


.btn-group {
  .btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .btn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .btn {
    font-size: 14px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;

    &.selected {
      color: white;
      border-color: var(--quaternary-color);
      background-color: var(--quaternary-color);
    }
  }

  .btn:not(:first-child) {
    margin-left: -1px;
  }
}
