button[type='submit'] {
  margin: 1.5rem 0;
}

.btn.btn-primary {
  border: none !important;
}

.btn.btn-primary:hover {
  border: none !important;
  color: white !important;
}

//TODO: some fun transition
.btn {
  transition: all 200ms;
}
.btn.btn-compact {
  height: 1rem;
  padding: 0 .25rem;
  line-height: normal;
  margin: 1.2rem 0 0;
}

//TODO: put some cool style here so menu trigger is more obvious
//@media only screen and (min-width: 1024px) {
//  button.nav-trigger {
//    transition: all 500ms;
//  }
//
//  button.nav-trigger.on-collapse {
//    background-color: white!important;
//  }
//}
