input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px dashed #8c8c8c;
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;
}

.clr-control-container textarea {
  width: 100%;
}

form clr-input-container input {
  width: 100%;
}
