input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px dashed #8c8c8c;
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;
}

.clr-control-container textarea {
  width: 100%;
}

form clr-input-container input,
form clr-combobox-container .clr-combobox-wrapper,
form clr-combobox-container .clr-combobox-wrapper .clr-input {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  form clr-textarea-container label,
  form clr-textarea-container textarea,
  form clr-password-container label,
  form clr-password-container input,
  form clr-input-container input,
  form clr-input-container label {
    display: block;
    min-width: 100%;
  }
}
