/*@start nav-button ( initiate plea button )*/
.nav-button {
  margin: 1rem 1rem 2rem 1rem;
}

#initiate-plea-btn {
  width: 100%;
}

#initiate-plea-btn clr-icon {
  margin-top: -3px;
}
/*@end nav-button ( initiate plea button )*/

/*@start backdrop*/
.header-backdrop {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1038;
  background: black;
  transition: opacity 500ms ease-out;
}
/*@end backdrop*/


/*@start user-state (logged in or out)*/
.user-state {
  padding: 0 1.5rem;
}
/*@end user-state (logged in or out)*/

/*@start nav group label*/
.nav-group label {
  color: var(--tertiary-accent-color);
}

.sidenav .nav-group label {
  margin-bottom: 0.25rem;
  font-weight: bolder;
}
/*@end nav group label*/

/*@start nav-list*/
.sidenav .nav-group .nav-list {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .sidenav .nav-group .nav-list {
    margin: 0;
  }
}
/*@end nav-list*/

/*@start nav-link*/
.sidenav .nav-group .nav-list > li *.nav-link {
  padding: 0.5rem 2rem;
}

.sidenav .nav-group .nav-list > li *.nav-link.active {
  background-color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .clr-vertical-nav .nav-group-text,
  .clr-vertical-nav .nav-link {
    padding-left: 0;
  }

  .sidenav .sidenav-content .nav-link {
    border-radius: 0;
  }

  .sidenav .nav-group .nav-list .nav-link {
    line-height: 0.8rem;
    padding: 0.5rem;
  }
}
/*@end nav-link*/

/*@start side nav*/
@media only screen and (min-width: 768px) {
  clr-vertical-nav {
    --clr-vertical-nav-trigger-divider-border-color: transparent;
  }

  clr-vertical-nav.clr-vertical-nav {
    padding-top: 0;
  }

  #sidenav {
    height: 100%;
    border: none;
    margin-top: -1rem;
  }
}
/*@end side nav*/

/*@start nav trigger*/
@media only screen and (min-width: 768px) {
  clr-vertical-nav.clr-vertical-nav .nav-trigger {
    margin-top: 0 !important;
  }
}
/*@end nav trigger*/
