/*@start nav*/
#nav {
  position: fixed;
  top: 0;
  //margin: 0 auto;
  //max-width: 1266px;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: 0 -8px 10px 5px rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.nav-grid {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px){
  .nav-grid {
    max-width: calc( 62vw - 40px );
  }
}
/*@end nav*/



/*@start nav element positioning*/
.nav-toggle,
.nav-branding,
.nav-page,
.nav-initiate {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/*@end nav element positioning*/



/*@start nav branding*/
.nav-branding {
  margin-left: 1rem;
}

.nav-branding p {
  font-size: 20px
}
/*@end nav branding*/



/*@start nav initiate*/
.nav-initiate {
  display: none;
}

@media only screen and (min-width: 1024px){
  .nav-initiate {
    display: flex;
  }
}
/*@end nav initiate*/


/*@start nav page*/
.nav-page p {
 font-size: 20px;
  //todo: hide under open menu mobile
}

@media only screen and (min-width: 1024px){
  .nav-page {
    display: none;
  }
}
/*@end nav page*/



/*@start nav toggle*/
.nav-toggle:hover,
#menu-toggle:hover {
  cursor: pointer;
}

.menu:hover {
  cursor: default;
}

#nav-checkbox {
  display: none;
}

#menu-toggle {
  display: flex;
  height: 12px;
  flex-direction: column;
  justify-content: space-between;
}

.nav-toggle span {
  width: 20px;
  border-top: 2px solid var(--secondary-color);
}

#menu-toggle span {
  transition: width 150ms ease-in-out;
}

#nav-checkbox:checked + #menu-toggle span:nth-child(2) {
  width: 10px;
  transition-delay: 300ms;
}

#nav-checkbox:checked + #menu-toggle span:last-child {
  width: 5px;
  transition-delay: 150ms;
}
/*@end nav toggle*/



/*@start menu*/
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 85vw;
  padding-top: 60px;
  transition: 550ms ease-in-out;
  background-color: var(--tertiary-color);
  z-index: -5;
}

#nav-checkbox:checked ~ .menu {
  left: 0;
}

@media only screen and (min-width: 768px) {
  .menu {
    width: 30vw;
  }
}

@media only screen and (min-width: 1440px) {
  .menu {
    width: 17vw;
  }
}
/*@end menu*/



/*@start menu section*/
.menu-section {
  margin-bottom: 2rem;
}
/*@end menu section*/



/*@start menu list*/
.menu-list {
  line-height: 2.25rem;
}
@media only screen and (min-width: 1440px){
  .menu-list {
    line-height: 2.5rem;
  }
}
/*@end menu list*/



/*@start user state*/
.user-state {
  position: absolute;
  bottom: 0;
  right: 1rem;
  left: 1rem;
}
/*@end user state*/



/*@start menu list li*/
.menu-list > li:hover,
.menu-list > li:focus,
.menu-list > li:focus-within,
.menu-list > li:active {
  background-color: var(--primary-color);
  padding-left: 40px;
  cursor: pointer;
}

.menu-list > li {
  margin: 0 -20px;
  padding-left: 20px;
  transition: background-color 150ms ease-in-out,
              padding-left 300ms ease-in-out 75ms;
}

.menu-list > li a {
  font-size: 1.25rem;
}
/*@end menu list li*/



/*@start menu-sub-link-list*/
//.menu-sub-link-list {
//  padding-left: 10px;
//}
//
//.menu-sub-link-list > li {
//  line-height: 1.5rem;
//}
//
//.menu-sub-link-list > li p {
//  font-size: 1rem;
//}
/*@end menu-sub-link-list*/
