/*@start search box*/
.search-box {
  display: flex;
  flex-direction: row;
  height: 30px;
}
/*@end search box*/



/*@start search box icon*/
img {
  height: auto;
  margin-right: 10px;
}
/*@end search box icon*/
