<h2>Initiate a plea</h2>

<form clrForm (ngSubmit)="submit()" [formGroup]="newPleaForm">
  <clr-input-container>
    <label>A display name *</label>
    <input clrInput type="text" formControlName="pleaganName" />

    <clr-control-helper>Please enter a name, it doesn't have to be your full or real name.</clr-control-helper>
    <clr-control-error>This field is required</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Location *</label>
    <input clrInput type="text" formControlName="pleaganLocation" />

    <clr-control-helper>
      Please let us know your general location (a country or even continent is fine). We will use this information in
      stats and graphs to find out where demand is the highest
    </clr-control-helper>
    <clr-control-error>This field is required</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Product name *</label>
    <input clrInput type="text" formControlName="productName" />

    <clr-control-helper>Please enter the product name</clr-control-helper>
    <clr-control-error>This field is required</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Company name *</label>
    <input clrInput type="text" formControlName="companyName" />

    <clr-control-helper>Please enter the company name</clr-control-helper>
    <clr-control-error>This field is required</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Company email *</label>
    <input clrInput type="mail" formControlName="companyContact" />

    <clr-control-helper>
      Please help us out and provide the companies customer service email, so we can notify them of the plea
    </clr-control-helper>
    <clr-control-error>This field is required</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Product image *</label>
    <label class="custom-file-upload">
      <clr-icon shape="upload" size="16"></clr-icon>
    </label>
    <input clrInput type="file" accept=".jpg,.png,.webp" data-max-size="2048" formControlName="productImage" />

    <clr-control-helper>Please upload an image of the current product</clr-control-helper>

    <!--    TODO: these don't work yet-->
    <clr-control-error *clrIfError="'requiredFieldError'">This field is required</clr-control-error>
    <clr-control-error *clrIfError="'fileSizeError'">File must not exceed 2mb</clr-control-error>
    <clr-control-error *clrIfError="'extensionError'"
      >Allowed file extensions are .jpg, .png or .webp</clr-control-error
    >
  </clr-input-container>

  <clr-input-container>
    <label>Ingredients to be taken out</label>
    <input clrInput type="text" formControlName="ingredient" (keyup)="createTag($event)" />

    <clr-control-helper>
      <span class="tag" *ngFor="let ingredient of addedIngredients; index as index"
        >{{ ingredient }}
        <clr-icon shape="times" size="14" (click)="removeTag(index)"></clr-icon>
      </span>
    </clr-control-helper>

    <clr-control-helper>
      Which ingredients of this product will need to be removed or replaced? Type the ingredient(s) separated by commas
    </clr-control-helper>
  </clr-input-container>

  <clr-textarea-container>
    <label>Your message *</label>
    <textarea clrTextarea formControlName="pleaMsg"></textarea>

    <clr-control-helper>
      Write your plea to the producer or call for support of other pleagans here!
    </clr-control-helper>
  </clr-textarea-container>

  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox value="receiveUpdates" name="permissions" />
      <label>Keep me updated regarding this plea</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <!--  TODO: add optional ingredient list textarea, like how you can add tags when uploading a YT video separated by commas-->
  <!--  TODO: then let user tap and highlight the animal products in these tags-->
  <button class="btn btn-primary" type="submit" [disabled]="!newPleaForm.valid">Submit</button>
</form>

<app-modal-success
  *ngIf="displayModal"
  [message]="'Success! You will be redirected to your plea shortly'"
  [redirect]="'/plea/details/:id'"
></app-modal-success>

<!--TODO: must check all pleases for potential duplicates based on crosscheck product and company name-->
