<section id="register-section" class="section">
  <ng-container *ngIf="authService.user$ | async as user; else registrationForm">
    <h1>Account created</h1>

    <div class="clr-row">
      <div class="clr-col-lg-6">
        <div class="card plea-card clickable">
          <div class="card-block c-header">
            <h4 class="card-title">Registration successful!</h4>
          </div>

          <div class="card-block c-footer">
            <p class="card-text">Your registration was successful pleagan!</p>
            <p class="card-text">
              <small>You will be redirected automatically.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #registrationForm>
    <h1>Create an account</h1>

    <div class="clr-row">
      <div class="clr-col-lg-6">
        <form clrForm (ngSubmit)="submit(form)" [formGroup]="form">
          <p>In order to create or support pleas, you must create an account</p>

          <clr-input-container>
            <label for="email">Your email address</label>
            <input id="email" clrInput type="text" formControlName="email" required />
            <clr-control-error>Email already in use</clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="display-name">Your username</label>
            <input id="display-name" clrInput type="text" formControlName="displayName" required />
            <clr-control-error>Username already in use</clr-control-error>
          </clr-input-container>

          <clr-password-container>
            <label for="password">Password</label>
            <input id="password" clrPassword formControlName="password" required />
            <clr-control-error>A password must include beans</clr-control-error>
          </clr-password-container>

          <clr-password-container>
            <label for="confirm-password">Confirm password</label>
            <input id="confirm-password" clrPassword formControlName="confirmPassword" required />
            <clr-control-error>Password must match</clr-control-error>
          </clr-password-container>

          <app-message-display [messageLevels]="['warning', 'danger']"></app-message-display>

          <button class="btn btn-primary"
                  id="login-btn"
                  [disabled]="!form.valid || form.value.password !== form.value.confirmPassword"
                  type="submit">
            Create account
          </button>
        </form>
      </div>
    </div>
  </ng-template>
</section>
