<div>
  <h1>What is pleagan?</h1>
  <p>
    Pleagan aims to aggregate the collective pleas of vegans for more plant-based products into one place, so they can
    be heard loud and clear. Businesses can then use the information to efficiently adjust their business
    strategies.
  </p>

  <div class="banner align-center">
    <clr-icon shape="recycle" size="40"></clr-icon>
  </div>

  <h2>A virtuous circle</h2>

  <p>
    At pleagan we believe the most effective way to a more vegan world is to increase demand. Consequently, the more
    plant-based products are available on the market, the easier it will be for people to consume more animal free
    products. <span class="highlighted-txt bold">Everybody wins!</span>
  </p>

<!--  <p>-->
<!--    Read more about Pleagans' value for companies-->
<!--    <a-->
<!--      class="underlined"-->
<!--      [routerLink]="['/about']"-->
<!--      [queryParams]="{ section: 'business' }"-->
<!--      (click)="scrollTo('business')"-->
<!--      >here</a-->
<!--    >.-->
<!--  </p>-->

  <div id="business" *ngIf="section === 'business'">
    <h2>How pleagan helps your business</h2>

    <h3>Stats</h3>

    <p class="larger">
      Find out the demand for your vegan product, where demand is concentrated and how you are doing compared to your
      competitors. Find the relevant pleas and statistics by searching for your company name
      <a [routerLinkActive]="'active'" [routerLink]="['/plea', 'all']" class="underlined">here</a> and don't forget
      to check out our <a [routerLinkActive]="'active'" [routerLink]="['/leaderboard']" class="underlined">leaderboards</a>.
    </p>

    <p>
      <span class="bold">Quick tip:</span> you can also initiate a plea yourself to gauge demand for your product.
    </p>

    <div class="banner align-center">
      <ul class="icon-list horizontal">
        <li>
          <clr-icon shape="line-chart" size="40"></clr-icon>
        </li>
        <li>
          <clr-icon shape="bar-chart" size="40"></clr-icon>
        </li>
        <li>
          <clr-icon shape="pie-chart" size="40"></clr-icon>
        </li>
      </ul>
    </div>

    <h3>Exposure</h3>
    <p>
      If you respond to a plea and bring out a vegan product, we happily offer you and your product
      exposure in several ways, to keep that snowball effect going:
    </p>

    <ul class="reg-list">
      <li>We send out an email to all supporters of the plea who have checked the box to receive a notification</li>
      <li>Any news relating to your animal free products will be posted on our news page</li>
      <li>Your product is permanently placed in our Hall of Fame</li>
      <li>You will climb the rankings of our leaderboard</li>
    </ul>

    <!--      <h3>The future is plant-based</h3>-->
    <!--      <p>-->
    <!--        Many, if not all, vegans feel an urgent need for plant-based diets to gain popularity and become ever more normalised.-->
    <!--        In the world as it exists today, <a class="underlined" href="https://www.vegansociety.com/news/media/statistics">-->
    <!--        there are a ton of important reasons</a> for going vegan. We also understand that as a company you need to make profit.-->
    <!--        Veganism is <a class="underlined" href="https://foodrevolution.org/blog/vegan-statistics-global/">rising in popularity-->
    <!--        and continues to do so</a>. In recent years companies like <a class="underlined" href="https://www.cnbc.com/2020/08/19/beyond-meat-ceo-ethan-brown-on-early-naysayers.html">-->
    <!--        Beyond Meat</a> have had massive successes.-->
    <!--      </p>-->
    <!--      <p>-->
    <!--        We urge you to <a class="underlined" href="https://www.ox.ac.uk/news/2019-10-29-plant-based-foods-are-good-both-health-and-environment">take the health of the planet in-->
    <!--        consideration</a> in your future business decisions, by redirecting your efforts to plant-based products.-->
    <!--      </p>-->
  </div>

  <div id="herbivore" *ngIf="section !== 'business'">
    <p>
      Read how Pleagan helps businesses <a class="underlined">here</a>
<!--      TODO: display about-business-->
    </p>
  </div>
</div>
