div {
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: right;
}

.fill-background {
  background-color: var(--primary-color);
}

//clr-icon {
//  margin-top: -3px;
//}
