/*@start loading indicator*/
.loading-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-indicator {
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-indicator div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary-accent-color);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-indicator div:nth-child(1) {
  left: 8px;
  -webkit-animation: loading-indicator1 0.6s infinite;
  animation: loading-indicator1 0.6s infinite;
}

.loading-indicator div:nth-child(2) {
  left: 8px;
  -webkit-animation: loading-indicator2 0.6s infinite;
  animation: loading-indicator2 0.6s infinite;
}

.loading-indicator div:nth-child(3) {
  left: 32px;
  -webkit-animation: loading-indicator2 0.6s infinite;
  animation: loading-indicator2 0.6s infinite;
}

.loading-indicator div:nth-child(4) {
  left: 56px;
  -webkit-animation: loading-indicator3 0.6s infinite;
  animation: loading-indicator3 0.6s infinite;
}
/*@end loading indicator*/
