<!--<ng-container *ngIf="httpStatus === HTTP_LOADING_STATUS.LOADING; else content">-->
<div class="flex flex-grow flex-col flex-center loading-indicator-container"
     [@enter]
     [@leave]>
  <div class="loading-indicator">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <span *ngIf="label">{{ label }}</span>
</div>
<!--</ng-container>-->

<!--<ng-template #content>-->
<!--  <div [@fadeInSingle]>-->
<!--    <ng-content></ng-content>-->
<!--  </div>-->
<!--</ng-template>-->
