<section class="section" id="plea-detail-section" *ngIf="plea | async as plea">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column">
          <div class="content">
            <h2>
              Dear {{ plea.company.name }},
            </h2>
          </div>

          <div class="column two">
            <div class="content">
              <p>
                We, the pleagans, are pleading you to veganize your {{ plea.nonVeganProduct.name }} or bring out a vegan
                alternative for this product. We are eager to buy your product once it is free from any animal products,
                but are not willing to support your product just yet.
              </p>
            </div>

            <div class="content">
              <h4>Ingredients to be removed:</h4>
              <ul class="ingredient-tags-list">
                <li>
                  <span>egg</span>
                </li>
                <li>
                  <span>milk powder</span>
                </li>
              </ul>
            </div>

            <div class="content">
              <p>
                Initiated by <span class="bold">{{ plea.pleagan.displayName }}</span>:
              </p>
              <p class="italic">
                "{{ plea.description }}"
              </p>
            </div>

            <div class="content">
              <p>
                <span class="bold">{{ plea.numberOfSupports }}</span> of us
                {{ plea.numberOfSupports > 1 ? 'have' : 'has' }} supported this plea since its initiation on
                <span class="bold">{{ plea.createdAt | date: 'dd-MM-yyyy' }}</span>
              </p>
            </div>

            <div class="content">
              <img class="plea-img" src="{{ plea.nonVeganProduct.imageUrl }}" alt="Image of product"/>
            </div>

            <div class="content">
              <!--    TODO: not visible to owner of plea-->
<!--              <ng-container *showOnAuth="true">-->
<!--                <div class="plea-support-btn" *ngIf="!(userIsInitiator$ | async)">-->
                  <app-plea-support-button [plea]="plea"
                                           (onSupport)="refreshPlea()"></app-plea-support-button>
<!--                </div>-->
<!--              </ng-container>-->

              <ul class="btn-list horizontal">
                <li>
                  <a class="btn btn-secondary btn-compact btn-xs"
                     title=""
                     role="button">
                    share
                  </a>
                </li>
<!--          TODO: if user has reported, this should change to 'reported' and disabled so no user can report a plea twice-->
<!--                <li *showOnAuth="true">-->
<!--                  <ng-container *ngIf="!( userIsInitiator$ | async )">-->
<!--                    <a class="btn btn-secondary btn-compact btn-xs"-->
<!--                       title=""-->
<!--                       role="button">-->
<!--                      report-->
<!--                    </a>-->
<!--                  </ng-container>-->
<!--                </li>-->
<!--                <li *showOnAuth="true">-->
<!--                  <ng-container *ngIf="userHasSupported$ | async">-->
<!--                    <a class="btn btn-secondary btn-compact btn-xs"-->
<!--                       title=""-->
<!--                       role="button">-->
<!--                      retract support-->
<!--                    </a>-->
<!--                  </ng-container>-->
<!--                </li>-->
<!--                  todo: should we have this at all?-->
<!--                  <li *showOnAuth="true">-->
<!--                    <a class="btn btn-compact btn-xs"-->
<!--                       title=""-->
<!--                       role="button">-->
<!--                      edit-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a class="btn btn-compact btn-xs"-->
<!--                       title="stats"-->
<!--                       role="button">-->
<!--                      stats-->
<!--                    </a>-->
<!--                  </li>-->
              </ul>
            </div>
          </div>

          <div class="column two">
            <div class="content">
              <ul class="supporters-messages-list">
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
                <li><p>Message goes here</p></li>
              </ul>
              <!--        TODO: report other comments, delete own comment options-->

<!--                                <app-supporters-list-->
<!--                                  *ngIf="plea.supports.length"-->
<!--                                  [supports]="plea.supports"-->
<!--                                  [currentUserUid]="pleaganUid$ | async"></app-supporters-list>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--            old-->

<!--todo: initiate button not visible here? at least not on mobile-->

<!--&lt;!&ndash;TODO: a user should be able to retract support I suppose&ndash;&gt;-->
<!--&lt;!&ndash;TODO: a user should also be able to retract their plea. But instead of deleting the plea and all support for it, &ndash;&gt;-->
<!--&lt;!&ndash;a default pleagan account should become the owner of the plea ( aka DolphinOnWheels for example )&ndash;&gt;-->
<!--<app-message-display [messageLevels]="['warning']"></app-message-display>-->
<!--<div id="plea-details-page" *ngIf="plea$ | async as plea">-->

<!--  <clr-modal-->
<!--    [(clrModalOpen)]="reportModalIsOpen"-->
<!--    [clrModalClosable]="true"-->
<!--    [clrModalStaticBackdrop]="true"-->
<!--    [clrModalSize]="'l'"-->
<!--  >-->
<!--    <h3 class="modal-title">Report this plea</h3>-->
<!--    <div class="modal-body">-->
<!--      <p>-->
<!--        Thank you for your vigilance. Please let us know what the problem is and we will evaluate it as soon as-->
<!--        possible.-->
<!--      </p>-->
<!--      <select clrSelect name="report-reason" [(ngModel)]="reportReason">-->
<!--        <option value="inappropriate-content">This plea contains inappropriate content</option>-->
<!--        <option value="already-exists">This product already has a vegan version</option>-->
<!--        <option value="other">Other</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <button type="button" class="btn btn-secondary-outline" (click)="reportModalIsOpen = false">Cancel</button>-->
<!--      <button type="button" class="btn btn-primary" (click)="submitReport()">Submit report</button>-->
<!--    </div>-->
<!--  </clr-modal>-->

<!--  <clr-modal-->
<!--    [(clrModalOpen)]="retractSupportModalIsOpen"-->
<!--    [clrModalClosable]="true"-->
<!--    [clrModalStaticBackdrop]="true"-->
<!--    [clrModalSize]="'l'"-->
<!--  >-->
<!--    <h3 class="modal-title">Retract your support</h3>-->
<!--    <div class="modal-body">-->
<!--      <p>Please tell us why you'd like retract your support for this plea</p>-->
<!--      <select clrSelect name="retract-reason" [(ngModel)]="retractReason">-->
<!--        <option value="already-exists">This product already has a vegan version</option>-->
<!--        <option value="other">Other</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <button type="button" class="btn btn-secondary-outline" (click)="retractSupportModalIsOpen = false">-->
<!--        Cancel-->
<!--      </button>-->
<!--      <button type="button" class="btn btn-primary" (click)="retractSupport()">Confirm</button>-->
<!--    </div>-->
<!--  </clr-modal>-->
<!--</div>-->
