<section id="faq-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="content">
            <h2>Title</h2>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--<section id="faq-section" class="section">-->
<!--  <h1 class="desktop-only">FAQ</h1>-->
<!--  <div class="clr-row">-->
<!--    <div class="clr-col-lg-4">-->
<!--      <p>-->
<!--        Find some frequently asked questions and answers below. Still have unanswered questions?-->
<!--        <a [routerLinkActive]="'active'" [routerLink]="'/contact'" class="underlined">Find our contact details here</a>.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="clr-col-lg-8">-->
<!--      <clr-accordion id="faq-accordion">-->
<!--        <clr-accordion-panel>-->
<!--          <clr-accordion-title>What happens to my data?</clr-accordion-title>-->
<!--          <clr-accordion-content *clrIfExpanded>-->
<!--            <h3>Email</h3>-->
<!--            <p>-->
<!--              When you create an account we need you to verify that you are indeed the owner of the email address.-->
<!--              We also use this mail address in order to let you reset your password for example. In your settings, you-->
<!--              can also opt to receive updates by mail ( or push notifications, or none at all ).-->
<!--            </p>-->
<!--            <p>-->
<!--              Other than that, your email isn't used for anything or shared with anybody else.-->
<!--            </p>-->

<!--            <h3>Location</h3>-->
<!--            <p>-->
<!--              On registration we also ask you for your country. We gather this data of every Pleagan so we can create graphs-->
<!--              and charts for our <a class="underlined" [routerLinkActive] [routerLink]="['/', 'statistics']">statistics</a>. These stats are-->
<!--              available to everybody but it is of course anonymised. Additionally you can opt to hide your country-->
<!--              from everybody else in your settings.-->
<!--            </p>-->

<!--            <h3>What is the point of the statistics anyway?</h3>-->
<!--            <p>-->
<!--              We want to help companies along a bit from a business pov. With these stats they can gain some insight into the-->
<!--              demand of vegan products and where the demand is concentrated. In an ideal world, these products would be-->
<!--              produced and released for a worldwide market. However, not all companies have the resources for that.-->
<!--              We want all businesses, large or small, to launch vegan products successfully, so they will happily and-->
<!--              naturally invest more efforts into similar products.-->
<!--            </p>-->
<!--          </clr-accordion-content>-->
<!--        </clr-accordion-panel>-->

<!--        <clr-accordion-panel>-->
<!--          <clr-accordion-title>When and how are businesses notified?</clr-accordion-title>-->
<!--          <clr-accordion-content *clrIfExpanded>-->
<!--            <p>-->
<!--              Currently each plea has 3 supporter targets: {{ PLEA_TARGET.FIRST }}, {{ PLEA_TARGET.SECOND }} and-->
<!--              {{ PLEA_TARGET.THIRD }}. We may adjust these targets over time. Whenever a target is hit, we will notify-->
<!--              the company in question with the plea included. We await their response and post updates on our-->
<!--              <a class="underlined" [routerLinkActive] [routerLink]="['/', 'news']">news page</a>.-->
<!--            </p>-->
<!--          </clr-accordion-content>-->
<!--        </clr-accordion-panel>-->

<!--        <clr-accordion-panel>-->
<!--          <clr-accordion-title>Where can I find the fruits of our efforts?</clr-accordion-title>-->
<!--          <clr-accordion-content *clrIfExpanded>-->
<!--            <p>-->
<!--              We have a couple of pages where you can keep track of the successes and compliance rates of companies:-->
<!--            </p>-->

<!--            <ul class="reg-list">-->
<!--              <li><a class="underlined" [routerLinkActive]="'active'" [routerLink]="['/', 'news', 'all']">News</a></li>-->
<!--              <li>-->
<!--                <a class="underlined" [routerLinkActive]="'active'" [routerLink]="['/', 'hall-of-fame', 'all']"-->
<!--                  >Hall of Fame</a-->
<!--                >-->
<!--              </li>-->
<!--              <li>-->
<!--                <a class="underlined" [routerLinkActive]="'active'" [routerLink]="['/', 'statistics']">Statistics</a>-->
<!--              </li>-->
<!--            </ul>-->

<!--            <p>-->
<!--              We like to put a spotlight on the success stories in order to promote the products and show our-->
<!--              appreciation. This way it will be easier for you, as a vegan, in turn to support these businesses and-->
<!--              their products. For companies it is just free promotion to their target market!-->
<!--            </p>-->

<!--            <h3>Stay updated</h3>-->
<!--            <p>-->
<!--              You can opt to receive mail or push notifications regarding pleas you have initiated, supported or to receive-->
<!--              any and all news updates. We also hate an inbox full of stuff we never read anyway, so we've got you covered if you-->
<!--              don't feel too excited about that! We have a news page where we post all updates and you have your personal-->
<!--              news feed once you've registered an account. Any updates regarding your own pleas or your supported pleas-->
<!--              will be posted there.-->
<!--            </p>-->
<!--          </clr-accordion-content>-->
<!--        </clr-accordion-panel>-->

<!--        <clr-accordion-panel>-->
<!--          <clr-accordion-title>Can I contribute to Pleagan?</clr-accordion-title>-->
<!--          <clr-accordion-content *clrIfExpanded>-->
<!--            <h3>Yes!</h3>-->
<!--            <p>-->
<!--              All work on Pleagan has been done on voluntary basis and personal investments. We are really excited-->
<!--              and grateful if anyone wants to contribute any work to Pleagan. It is an open source project so developers-->
<!--              are welcome to assist and expand our platform.-->
<!--            </p>-->

<!--            <p>-->
<!--              Other than code, contributions can include all sorts of things: suggestions, copywrite improvements,-->
<!--              contributing visual work, UI/UX advice, social media management, you name it. We have a-->
<!--              <a class="underlined" [routerLinkActive]="'active'" [routerLink]="['/', 'contributors']">special page</a>-->
<!--              dedicated to all those who have made Pleagan possible in one way or another.-->
<!--            </p>-->
<!--          </clr-accordion-content>-->
<!--        </clr-accordion-panel>-->
<!--      </clr-accordion>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
