<h1>Log in</h1>
<div class="clr-row">
  <form clrForm (ngSubmit)="submit()" [formGroup]="loginForm">
    <clr-input-container>
      <label for="username">Username or email</label>
      <input id="username" clrInput type="text" formControlName="username" required />
    </clr-input-container>

    <clr-password-container>
      <label for="password">Password</label>
      <input id="password" clrPassword formControlName="password" required />
      <clr-control-error>Credentials incorrect</clr-control-error>
    </clr-password-container>

    <button class="btn btn-primary" id="login-btn" type="submit">Log in</button>
    <button class="btn btn-secondary-outline" id="create-account-btn" [routerLink]="['/register']" type="button">
      Create an account
    </button>
  </form>
</div>
