.leaderboard-tools {
  width: 100vw;
  height: auto;
  margin: 1rem 0 0 -1rem;
  padding: 0 1rem 1.25rem;
  background-color: var(--primary-accent-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

ol {
  list-style-type: decimal;
  width: 100vw;
  margin: 0 0 1rem -1rem;
}

ol > li {
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,.15);
}

ol > li:nth-child( even ) {
  background-color: rgba(0,0,0,.1);
}

clr-select-container {
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .leaderboard-tools {
    flex-direction: row;
    padding: .25rem 1rem 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .leaderboard-tools {
    width: 100%;
    margin: 1rem 0 0;
    padding-right: 0;
  }

  ol {
    width: 100%;
    margin: 0;
  }
}
