<section id="about-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="content">
            <h1>What is Pleagan?</h1>
          </div>
          <div class="column three">
            <div class="content">
              <h2>A virtuous circle</h2>
            </div>
            <div class="content">
              <p>
                A better world is a vegan world. At pleagan we believe the most efficient way to working
                towards this goal is to increase the amount of vegan products on the market. The more vegan products are
                available, the easier it will be for people to consume more animal free products.
              </p>
            </div>
          </div>
          <div class="column three">
            <div class="content">
              <h2>For vegans</h2>
            </div>
            <div class="content">
              <p>
                Pleagan aims to aggregate the collective pleas and support for vegan products into one platform, so our
                voices can be heard loud and clear. <a class="underlined" [routerLink]="['/', 'statistics']">Our publicly available statistics</a>
                can help vegans determine which companies and products to support or which ones to avoid.
              </p>
            </div>
          </div>
          <div class="column three">
            <div class="content">
              <h2>For companies</h2>
            </div>
            <div class="content">
              <p>
                Learn about the demands for your vegan product, where demand is concentrated and how you are doing compared to
                your competitors. Search for relevant pleas
                <a [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'all']" class="underlined">here</a> and check out
                our statistics <a [routerLinkActive]="'active'" [routerLink]="['/', 'statistics']" class="underlined">here</a>.
              </p>
            </div>
            <div class="content">
              <p>
                Don't hesitate to initiate a plea as a business to gauge demand for one of your potential vegan
                products and adjust your business strategies accordingly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
