<section class="section">
  <h1>What is Pleagan?</h1>
  <div class="clr-row">
    <div class="clr-col-lg-4">
      <h2>Our purpose</h2>
    </div>
    <div class="clr-col-lg-8">
      <p>
        Pleagan aims to aggregate the collective pleas of vegans for more plant-based products into one place, so they can
        be heard loud and clear. Businesses can then use the information to efficiently adjust their business
        strategies.
      </p>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-4">
      <h2>A virtuous circle</h2>
    </div>
    <div class="clr-col-lg-8">
      <p>
        At pleagan we believe the most effective way to a more vegan world is to increase demand. Consequently, the more
        plant-based products are available on the market, the easier it will be for people to consume more animal free products.
      </p>

      <p>
        <span class="highlighted-txt larger">Everybody wins</span>
      </p>
    </div>
  </div>
</section>

<section class="section" id="business" *ngIf="section === 'business'">
  <h1>How pleagan helps your business</h1>

  <div class="clr-row">
    <div class="clr-col-lg-4">
      <h2>Stats</h2>
    </div>

    <div class="clr-col-lg-8">
      <p class="larger">
        Find out the demand for your vegan product, where demand is concentrated and how you are doing compared to your
        competitors. Find the relevant pleas and statistics by searching for your company name
        <a [routerLinkActive]="'active'" [routerLink]="['/plea', 'all']" class="underlined">here</a> and don't forget
        to check out our <a [routerLinkActive]="'active'" [routerLink]="['/leaderboard']" class="underlined">leaderboards</a>.
      </p>
      <p>
        <span class="highlighted-txt larger">Quick tip: initiate a plea yourself to gauge demand for your product</span>
      </p>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-4">
      <h2>Exposure</h2>
    </div>

    <div class="clr-col-lg-8">
      <p>
        <span class="highlighted-txt larger">Upon plea compliance...</span>
      </p>
      <ul class="reg-list">
        <li>we notify pleagans by email if they have given permission to do so</li>
        <li>a news update is posted on our platform</li>
        <li>your product gets a permanent spot in our eternal Hall of Fame</li>
        <li>you climb the rankings of our leaderboard</li>
      </ul>
    </div>
  </div>
</section>


<div id="herbivore" *ngIf="section !== 'business'">
  <p>
    Read how Pleagan helps businesses <a class="underlined">here</a>
<!--      TODO: display about-business-->
  </p>
</div>
