<section class="section" id="statistics-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="content">
            <h2>Title</h2>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--<section id="statistics-section" class="section">-->
<!--  <h1 class="desktop-only">Statistics</h1>-->
<!--  <div class="clr-row">-->
<!--    <div class="clr-col-xl-6">-->
<!--      <p>-->
<!--        All activity on our platform is gathered in graphs and charts. Sort and filter through our data to learn about-->
<!--        demand and goals that have been achieved. If you have a Pleagan account, you can also check out your own private-->
<!--        stats.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="clr-col-xl-6">-->
<!--      <div id="dataset-selection">-->
<!--        <p>Select data</p>-->
<!--        <clr-select-container>-->
<!--          <select clrSelect name="dataset-options" [(ngModel)]="datasetOptions">-->
<!--            <option value="companies">Companies</option>-->
<!--            <option value="pleas">Pleas</option>-->
<!--            <option value="pleagans">Pleagans</option>-->
<!--            &lt;!&ndash;            TODO: only available if user is logged in&ndash;&gt;-->
<!--            <option *ngIf="user$ | async as user" value="my-statistics">My statistics</option>-->
<!--          </select>-->
<!--        </clr-select-container>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="clr-row">-->
<!--    &lt;!&ndash;    <div class="clr-col-xl-6">&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="stat-tools">&ndash;&gt;-->
<!--    &lt;!&ndash;        <h2>Tools</h2>&ndash;&gt;-->

<!--    &lt;!&ndash;        <div class="clr-row" id="dataset-selection">&ndash;&gt;-->
<!--    &lt;!&ndash;          <p>Select dataset</p>&ndash;&gt;-->
<!--    &lt;!&ndash;          <clr-select-container>&ndash;&gt;-->
<!--    &lt;!&ndash;            <select clrSelect name="dataset-options" [(ngModel)]="datasetOptions">&ndash;&gt;-->
<!--    &lt;!&ndash;              <option value="companies">Companies</option>&ndash;&gt;-->
<!--    &lt;!&ndash;              <option value="pleas">Pleas</option>&ndash;&gt;-->
<!--    &lt;!&ndash;              <option value="pleagans">Pleagans</option>&ndash;&gt;-->
<!--    &lt;!&ndash;              &lt;!&ndash;            TODO: only available if user is logged in&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;              <option *ngIf="user$ | async as user" value="my-statistics">My statistics</option>&ndash;&gt;-->
<!--    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    &lt;!&ndash;          </clr-select-container>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    &lt;!&ndash;        &lt;!&ndash;        <clr-accordion>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;          <clr-accordion-panel>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;            <clr-accordion-title>Filters</clr-accordion-title>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;            <clr-accordion-content *clrIfExpanded>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;              &lt;!&ndash;            Companies and pleas&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;              <ng-container *ngIf="datasetOptions === 'companies' || datasetOptions === 'pleas'">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                <div class="clr-row">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                  <p>Compliance</p>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                  <div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    <clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <input type="radio" clrRadio value="option1" name="compliance-filter" />&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <label>All</label>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    </clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    <clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <label>Complied only</label>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <input type="radio" clrRadio value="option2" name="compliance-filter" />&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    </clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    <clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <label>Non compliance only</label>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <input type="radio" clrRadio value="option2" name="compliance-filter" />&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    </clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                  </div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;              </ng-container>&ndash;&gt;&ndash;&gt;-->

<!--    &lt;!&ndash;        &lt;!&ndash;              &lt;!&ndash;            My statistics&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;              <ng-container *ngIf="datasetOptions === 'my-statistics'">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                <div class="clr-row">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                  <p>My contributions</p>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                  <div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    <clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <input type="radio" clrRadio value="option1" name="contributions-filter" />&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <label>All</label>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    </clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    <clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <label>Initiated pleas</label>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <input type="radio" clrRadio value="option2" name="contributions-filter" />&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    </clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    <clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <label>Supported pleas</label>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                      <input type="radio" clrRadio value="option2" name="contributions-filter" />&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                    </clr-radio-wrapper>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                  </div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;              </ng-container>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;            </clr-accordion-content>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;          </clr-accordion-panel>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;        </clr-accordion>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div class="clr-col-12 stat-visuals" *ngIf="companies$ | async">-->
<!--      <ng-container *ngIf="datasetOptions === 'companies'">-->
<!--        &lt;!&ndash;        <ul *ngIf="companies$ | async as companies">&ndash;&gt;-->
<!--        &lt;!&ndash;          <li *ngFor="let company of companies">{{ company.name }}</li>&ndash;&gt;-->
<!--        &lt;!&ndash;        </ul>&ndash;&gt;-->
<!--        <h2>Pled companies</h2>-->
<!--        <div echarts [options]="optionsCompanies"></div>-->
<!--      </ng-container>-->

<!--      <ng-container *ngIf="datasetOptions === 'pleas'">-->
<!--        <h2>All time</h2>-->
<!--        <div echarts [options]="optionsPleas"></div>-->
<!--      </ng-container>-->

<!--      <ng-container *ngIf="datasetOptions === 'pleagans'">-->
<!--        <h2>Pleagan distribution</h2>-->
<!--        <div echarts [options]="optionsPleagans"></div>-->
<!--      </ng-container>-->

<!--      <ng-container *ngIf="datasetOptions === 'my-statistics'">-->
<!--        <p>No data to generate charts yet</p>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
