<div class="clr-row">
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">Title</div>
      <div class="card-block">
        <div class="card-media-block">
          <img src="..." class="card-media-image" />
          <div class="card-media-description">
            <span class="card-media-title">Subtitle</span>
            <span class="card-media-text">Date</span>
          </div>
        </div>
        <div class="card-text">
          <p>News text</p>
        </div>
      </div>
      <!--      optional-->
      <div class="card-footer">
        <button class="btn btn-primary">Some action</button>
      </div>
    </div>
  </div>
</div>
