<section class="section" id="haf-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="content">
            <h2>Title</h2>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--<section id="hall-of-fame-section" class="section">-->
<!--  <h1 class="desktop-only">Hall of Fame</h1>-->
<!--  <app-searchControl-box (queryUpdated)="updateQuery($event)"></app-searchControl-box>-->
<!--  <div class="clr-row">-->
<!--    <div class="clr-col-lg-12">-->
<!--      <p>...</p>-->
<!--    </div>-->
<!--    <div class="clr-col-lg-12">-->
<!--      <app-pleas-list *ngIf="pleas$ | async as pleas" [pleas]="pleas" id="complied-pleas"></app-pleas-list>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
