/*@start header title*/
.header .branding .title,
header .branding .title,
.page-title span {
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 3rem;
  text-decoration: none;
}
/*@end header title*/

/*@start header page title*/
clr-header .page-title {
  position: fixed;
  right: 1rem;
}
/*@end header page title*/
