/*@start landing*/
.landing {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 1024px) {
  .landing {
    margin-top: 0;
  }
}
/*@end landing*/

/*@start desktop row*/
@media only screen and (min-width: 1440px) {
  .desktop-row {
    display: flex;
    flex-direction: row;
  }

  .desktop-row div.clr-col {
    width: 33.33%;
  }
}
/*@end desktop row*/

/*@start landing p*/
.landing p {
  font-size: 1rem;
  line-height: 1.75rem;
}
/*@end landing p*/

/*@start headings*/
h1 {
  margin-bottom: 1rem;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
}

h5 {
  margin-top: 0;
}

@media only screen and (min-width: 768px){
  h1 {
    margin-bottom: 2rem;
  }
}
/*@end headings*/

/*@start intro text*/
@media only screen and (min-width: 768px){
  .intro-text {
    width: 350px;
  }
}
/*@end intro text*/

/*@start clr-col*/
.clr-col {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
}
/*@end clr-col*/

/*@start cta buttons*/
.cta-buttons {
  margin-top: 1rem;
}

.cta-buttons button {
  display: inline-block;
}
/*@end cta buttons*/

/*@start rows by id*/
// heights
#l-top-row {
  height: calc( 100vh - 5.23rem );
  background-color: lightpink;
}

#l-mid-row {
  display: none;
}

#l-bot-col-a,
#l-bot-col-b,
#l-bot-col-c {
  height: 70vh;
}

// flex positions
#l-top-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#l-bot-col-a,
#l-bot-col-b,
#l-bot-col-c {
  flex-direction: column;
}

// temporary
//#l-top-row { background-color: pink; }
#l-bot-col-a,
#l-bot-col-c {
  background-color: rgba(255, 208, 220, 0.45)
}
//#l-bot-col-b { background-color: lightpink }

@media only screen and (min-width: 768px) {
  #l-top-row {
    height: 40vh;
  }

  #l-mid-row {
    display: flex;
    height: 5vh;
    text-align: center;
  }

  #l-bot-col-a,
  #l-bot-col-b,
  #l-bot-col-c {
    height: 45vh;
  }
}
/*@end rows by id*/

/*@start col header*/
.col-header {
  min-height: 180px;
}
/*@end col header*/


