<section id="landing-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="column">
            <div class="content">
              <h1>Pleagan</h1>
            </div>
            <div class="content">
              <p>
                Hello friend.
              </p>
            </div>
          </div>
          <div class="banner theme-tertiary">
            <div class="content">
              <p>
                Pleagan explained in 3 simple steps
              </p>
            </div>
            <div class="column three">
              <div class="content">
                <h2>Plea</h2>
              </div>
              <div class="content">
                <p>
                  <a [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'all']" class="underlined">Find</a> or
                  <a [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'initiate']" class="underlined">initiate</a>
                  a plea to a business to veganise a product of theirs. Gather support from other vegans or show your
                  support for existing pleas.
                </p>
              </div>
            </div>
            <div class="column three">
              <div class="content">
                <h2>Inform</h2>
              </div>
              <div class="content">
                <p>
                  With enough support, Pleagan contacts the company in question and informs them of the plea. We keep track
                  of communications and post updates to Pleagan accordingly to our
                  <a [routerLinkActive]="'active'" [routerLink]="['/', 'news']" class="underlined">news page</a>.
                </p>
              </div>
            </div>
            <div class="column three">
              <div class="content">
                <h2>Profit</h2>
              </div>
              <div class="content">
                <p>
                  When a company answers our pleas and complies they climb
                  <!--                todo: stat company leaderboard-->
                  <a [routerLinkActive]="'active'" [routerLink]="['/', 'statistics']" class="underlined">the rankings</a> and we
                  promote their brand new vegan product in our
                  <a [routerLinkActive]="'active'" [routerLink]="['/', 'news']" class="underlined">Hall of Fame</a> with
                  a permanent spot.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

