<section id="landing-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="content">
            <h1>Pleagan</h1>
          </div>
          <div class="content">
            <p>
              Hello friend. Find out below what Pleagan can do for you.
            </p>
            <a role="button" class="btn btn-primary btn-vertical-margin">Tell me</a>
          </div>
          <div class="column three">
            <div class="content">
              <h2>Browse pleas</h2>
            </div>
            <div class="content">
              <p>
                Find or initiate a plea to a business to veganise a product of theirs
              </p>
            </div>
          </div>
          <div class="column three">
            <div class="content">
              <h2>Support pleas</h2>
            </div>
            <div class="content">
              <p>
                Support pleas to reinforce the call for the pleaded product
              </p>
            </div>
          </div>
          <div class="column three">
            <div class="content">
              <h2>Profit</h2>
            </div>
            <div class="content">
              <p>
                Have vegan produce or money
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--<div class="landing">-->
<!--  <div class="clr-col" id="l-top-row">-->
<!--    <h1 class="title-xl">pleagan</h1>-->
<!--    <div class="intro-text">-->
<!--      <p>-->
<!--        Hello friend. Find out below what Pleagan can do for you.-->
<!--      </p>-->

<!--      <div class="cta-buttons">-->
<!--        <button type="button" class="btn btn-primary" id="vegan-visitor-btn" [routerLink]="['/about']">for vegans</button>-->
<!--        <button type="button" class="btn btn-primary" id="company-visitor-btn" [routerLink]="['/about']" [queryParams]="{ section: 'business' }">-->
<!--          for businesses-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="clr-col" id="l-mid-row">-->
<!--      <a [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'all']" class="underlined">Browse pleas</a>-->
<!--  </div>-->
<!--  <div class="desktop-row">-->
<!--    <div class="clr-col" id="l-bot-col-a">-->
<!--      <div class="col-header">-->
<!--        <h3>Pleas</h3>-->
<!--        <p>-->
<!--          Find or initiate a plea to a business to veganise a product of theirs-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="clr-col" id="l-bot-col-b">-->
<!--      <div class="col-header">-->
<!--        <h3>Support</h3>-->
<!--        <p>-->
<!--          Support pleas to reinforce the call for the pleaded product-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="clr-col" id="l-bot-col-c">-->
<!--      <div class="col-header">-->
<!--        <h3>Inform</h3>-->
<!--        <p>-->
<!--          With sufficient support, Pleagan informs the business of the demand-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
