.plea-list {
  list-style-type: none;
  //margin-top: -2rem;
  margin-bottom: 70px;
  // height of init plea footer
}

footer {
  background-color: var(--primary-color);
  padding: .5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: right;
}

