<!--TODO: rename component to pleas-list or something. Make consistent with card-list in HAF in any case-->
<!--TODO: add 'add plea' button on fixed bottom?-->
<app-search-box (update)="updateQuery($event)"></app-search-box>

<main>
  <ul class="plea-list" *ngIf="pleas$ | async as pleas">
    <li *ngFor="let plea of pleas | search: query">
      <app-plea-card [plea]="plea"></app-plea-card>
    </li>
  </ul>
</main>

<footer class="mobile-only">
  <a
    id="initiate-plea-btn"
    [routerLinkActive]="'active'"
    [routerLink]="['/', 'plea', 'new']"
    class="btn btn-primary btn-icon"
    aria-label="Initiate a plea"
  >
    <clr-icon shape="plus" size="16"></clr-icon>
    Initiate
  </a>
</footer>
