<section class="section" id="about-section">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column">
          <div class="column two">
            <div class="content">
              <h2>What is Pleagan?</h2>
            </div>
            <div class="content">
              <h3>A virtuous circle</h3>
            </div>
            <div class="content">
              <p>
                Pleagan is intended to help accelerate the growth of veganism by letting the market do its work.
              </p>
            </div>
            <div class="content">
              <p>
                We think one efficient method to working towards a more vegan world is to increase the number of vegan
                products on the market. The more vegan products are available and accessible, the easier it will be for
                more people to consume more animal free products.
              </p>
            </div>
            <div class="content">
              <p>
                Get in loser, we're going vegan.
              </p>
            </div>
            <div class="content">
              <ul class="btn-list horizontal">
                <li>
                  <a
                    role="button"
                    [routerLinkActive]="'active'"
                    [routerLink]="['/']"
                    class="btn btn-secondary btn-compact btn-xs">
                    help me
                  </a>
                </li>
                <li>
                  <a
                    role="button"
                    [routerLinkActive]="'active'"
                    [routerLink]="['/']"
                    class="btn btn-secondary btn-compact btn-xs">
                    be cool
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="column two">
            <div class="content">
<!--              <img src="{{ imgSrc }}" alt="placeholder for a positive future">-->
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column two">
            <div class="content">
              <h3>For vegans</h3>
            </div>
            <div class="content">
              <p>
                While petitions are nothing new, we built Pleagan to focus on solely vegan petitions, a platform built and run <a title="who are we?" [routerLinkActive]="'active'" [routerLink]="" class="underlined">by vegans</a>.
              </p>
            </div>
            <div class="content">
              <p>
                Pleagan aims to aggregate the collective pleas and support for vegan products into one platform, so our
                voices can be heard louder and clearer. <a class="underlined" [routerLink]="['/', 'statistics']">Our publicly available statistics</a>
                can help vegans determine which companies and products to support or which ones to avoid.
              </p>
            </div>
          </div>
          <div class="column two">
            <div class="content">
              <h3>For companies</h3>
            </div>
            <div class="content">
              <p>
                Learn about the demands for your vegan product, where demand is concentrated and how you are doing compared to
                your competitors. Search for relevant pleas
                <a [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'all']" class="underlined">here</a> and check out
                our statistics <a [routerLinkActive]="'active'" [routerLink]="['/', 'statistics']" class="underlined">here</a>.
              </p>
            </div>
            <div class="content">
              <p>
                Don't hesitate to initiate a plea for your own business to gauge demand for one of your potential vegan
                products and adjust your business strategies accordingly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
