<nav id="nav" class="flex">
  <div class="nav-grid flex space-between">
    <div class="flex">
      <div class="nav-toggle">
        <input type="checkbox" id="nav-checkbox">
        <label for="nav-checkbox" id="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </label>

        <div class="menu">
          <div class="column">
            <div class="content">
              <section class="menu-section">
                <ul class="menu-list">
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'all']">
                    <a title="all pleas" class="bordered-text bold">pleas</a>
                  </li>
                </ul>
              </section>
              <section class="menu-section">
                <ul class="menu-list">
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'complied']">
                    <a title="spotlight">spotlight</a>
                  </li>
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'statistics']">
                    <a title="statistics">statistics</a>
                  </li>
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'news']">
                    <a title="news">news</a>
                  </li>
                </ul>
              </section>
              <section class="menu-section" *ngIf="authService.currentUser | async as user">
                <ul class="menu-list">
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'user', 'profile']">
                    <a title="profile">profile</a>
                    <!--                    <ul class="menu-sub-link-list desktop-only">-->
                    <!--                      <li>-->
                    <!--                        <p>My pleas</p>-->
                    <!--                      </li>-->
                    <!--                      <li>-->
                    <!--                        <p>My supported pleas</p>-->
                    <!--                      </li>-->
                    <!--                      <li>-->
                    <!--                        <p>My news</p>-->
                    <!--&lt;!&ndash;                        achievements?&ndash;&gt;-->
                    <!--                      </li>-->
                    <!--                    </ul>-->
                  </li>
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'user', 'settings']">
                    <a title="settings">settings</a>
                  </li>
                </ul>
              </section>
              <section class="menu-section">
                <ul class="menu-list">
<!--                  todo: home #about-section-->
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'about']">
                    <a title="about">about</a>
                  </li>
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'faq']">
                    <a title="faq">faq</a>
                  </li>
                  <li class="menu-link" [routerLinkActive]="'active'" [routerLink]="['/', 'contact']">
                    <a title="contact">contact</a>
                  </li>
                </ul>
              </section>
              <section class="menu-section user-state">
                <p *showOnAuth="false">
                  please <a class="underlined" [routerLink]="['/', 'auth', 'login']">log in</a> or
                  <a class="underlined" [routerLink]="['/', 'auth', 'sign-up']">sign up</a> to initiate and support pleas
                </p>
                <!--              <p *showOnAuth="true">-->
                <!--                <a role="button" class="btn btn-secondary btn-compact" (click)="logout()">logout</a>-->
                <!--              </p>-->
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-branding">
        <a [routerLink]="['/']">
          <p>pleagan</p>
        </a>
      </div>
    </div>
    <div class="nav-page mobile-only">
      <p>{{ resolveCurrentPage() }}</p>
    </div>
    <div class="nav-initiate">
      <!--    todo: if not logged in, redirect this to sign up / login page-->
      <a role="button" class="btn btn-compact btn-primary" [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'initiate']">Initiate</a>
    </div>
  </div>
</nav>
