/*@start nav*/
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: space-between;
}
/*@end nav*/





/*@start nav element positioning*/
.nav-toggle,
.nav-branding,
.nav-page {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/*@end nav element positioning*/



/*@start nav branding*/
.nav-branding {
  margin-left: 1rem;
}
/*@end nav branding*/




/*@start nav page*/
@media only screen and (min-width: 1024px){
  .nav-page {
    display: none;
  }
}
/*@end nav page*/





/*@start nav toggle*/
#nav-checkbox {
  display: none;
}

#menu-toggle {
  display: flex;
  height: 12px;
  flex-direction: column;
  justify-content: space-between;
}

.nav-toggle span {
  width: 20px;
  border-top: 2px solid var(--secondary-color);
}

#menu-toggle span {
  transition: width 150ms ease-in-out;
}

#nav-checkbox:checked + #menu-toggle span:nth-child(2) {
  width: 10px;
  transition-delay: 300ms;
}

#nav-checkbox:checked + #menu-toggle span:last-child {
  width: 5px;
  transition-delay: 150ms;
}
/*@end nav toggle*/




/*@start menu*/
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 75vw;
  padding-top: 60px;
  transition: 150ms ease-in-out;
  background-color: var(--tertiary-color);
  z-index: -5;
}

#nav-checkbox:checked ~ .menu {
  left: 0;
}
/*@end menu*/




/*@start menu section*/
.menu-section {
  margin-bottom: 2rem;
}
/*@end menu section*/





/*@start menu list*/
.menu-list {
  line-height: 2rem;
}
/*@end menu list*/




/*@start user state*/
.user-state {
  position: absolute;
  bottom: 0;
  right: 1rem;
  left: 1rem;
}
/*@end user state*/
