<ng-container *ngIf="largeScreen; else sidenav">
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </clr-vertical-nav>
</ng-container>

<ng-template #sidenav>
  <ng-container *ngTemplateOutlet="nav"></ng-container>
</ng-template>

<ng-template #nav>
  <nav id="sidenav" class="sidenav" [clr-nav-level]="1">
    <section class="sidenav-content">
      <section *ngIf="authService.user$ | async as user" class="nav-group collapsible">
        <input id="nav-profile-section" type="checkbox" checked />
        <label for="nav-profile-section">{{ user.displayName || 'Profile' }}</label>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'profile', 'settings']">Settings</a>
            <!--            email settings etc go here. I guess maybe also user pic, password reset, delete account, sign out-->
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'pleas', 'my']">My pleas </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'profile', 'my-support']">My supported pleas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'profile', 'my-news']">My news</a>
          </li>
        </ul>
      </section>

      <section class="nav-group collapsible">
        <input id="nav-pleas-section" type="checkbox" />
        <label for="nav-pleas-section">Pleas</label>

        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'all']">All pleas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'plea', 'complied']">Hall of Fame</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'statistics']">Statistics</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'news']">News</a>
          </li>
        </ul>
      </section>

      <section class="nav-group collapsible">
        <input id="nav-about-section" type="checkbox" checked />
        <label for="nav-about-section">Pleagan</label>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'about']">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'faq']">FAQ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/', 'contact']">Contact</a>
          </li>
        </ul>
      </section>

      <section class="nav-group user-state">
        <small *ngIf="!(authService.user$ | async)">
          Please <a class="underlined" [routerLink]="['/', 'auth', 'login']">log in</a> or
          <a class="underlined" [routerLink]="['/', 'auth', 'sign-up']">sign up</a> to initiate and support pleas
        </small>
        <p *ngIf="authService.user$ | async">
          <a class="underlined" (click)="logout()">logout</a>
        </p>
      </section>
    </section>
  </nav>
</ng-template>
