<section id="initiate-plea-section" class="flex">
  <div class="section-content flex flex-grow">
    <div class="grid flex flex-grow">
      <div class="column flex flex-grow flex-col">
        <div class="content desktop-only">
          <h2>Initiate a plea</h2>
        </div>
        <div class="column flex flex-grow">
          <ng-container *ngIf="!(submitting | async); else loading">
            <app-wizard [steps]="steps"
                        (onSubmit)="submit()"></app-wizard>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <app-loading-indicator label="Initiating..."></app-loading-indicator>
</ng-template>
