<!--<section id="profile" class="section">-->
<!--  <h1 class="desktop-only">Username</h1>-->
<!--  <div class="clr-row">-->
<!--    <div class="clr-col-lg-6">-->
<!--      <img src="{{ profilePictureImgSrc }}" alt="Profile picture"/>-->
<!--&lt;!&ndash;      if owner of profile&ndash;&gt;-->
<!--      <ul class="btn-list horizontal">-->
<!--        <li>-->
<!--&lt;!&ndash;          if deleted, display a default pic (of a dolphin of course)&ndash;&gt;-->
<!--          <button class="btn btn-secondary" aria-label="Delete profile picture">-->
<!--            Delete-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button class="btn btn-primary" aria-label="Upload profile picture">-->
<!--            <clr-icon shape="upload"></clr-icon>-->
<!--            Upload-->
<!--          </button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="clr-col-lg-6">-->
<!--      <ul>-->
<!--        <li class="clr-row">-->
<!--          <p>Display name</p>-->
<!--          <p>Name</p>-->
<!--        </li>-->
<!--        <li class="clr-row">-->
<!--          <p>Initiated pleas</p>-->
<!--          <p>12</p>-->
<!--        </li>-->
<!--        <li class="clr-row">-->
<!--          <p>Complied initiated pleas</p>-->
<!--          <p>2</p>-->
<!--        </li>-->
<!--        <li class="clr-row">-->
<!--          <p>Supported pleas</p>-->
<!--          <p>540</p>-->
<!--        </li>-->
<!--        <li class="clr-row">-->
<!--          <p>Complied supported pleas</p>-->
<!--          <p>46</p>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
