<section id="profile-section" *ngIf="authService.user$ | async as user">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column three desktop-only">
          <div class="content"></div>
        </div>
        <div class="column three align-center">
          <div class="content">
            <img src="{{ profilePictureImgSrc }}" alt="Profile picture"/>
          </div>
<!--           todo: if owner of profile-->
          <div class="content">
            <ul class="btn-list horizontal">
              <li>
                <a role="button" class="btn btn-compact btn-primary">Upload</a>
              </li>
<!--              todo: default if no pic-->
              <li>
                <a role="button" class="btn btn-compact btn-secondary">Delete</a>
              </li>
            </ul>
          </div>
          <div class="content desktop-only">
            <h3>{{ user.displayName }}</h3>
          </div>
          <div class="content">
            <ul class="space-between-list">
              <li>
                <p class="bold">Username</p>
                <p>{{user.displayName}}</p>
              </li>
              <li>
                <p class="bold">Initiated pleas</p>
                <p>{{numberOfInitiatedPleas$ | async}}</p>
              </li>
              <li>
                <p class="bold">Complied initiated pleas</p>
                <p>2</p>
              </li>
              <li>
                <p class="bold">Supported pleas</p>
                <p>{{numberOfSupportedPleas$ | async}}</p>
              </li>
              <li>
                <p class="bold">Complied supported pleas</p>
                <p>62</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h4>My pleas</h4>
          </div>
          <div *ngIf="pleas$ | async as pleas">
            <app-pleas-list [pleas]="pleas"></app-pleas-list>
            <div class="content">
              <p *ngIf="pleas.length === 0">You haven't initiated any pleas yet</p>
              <a title="" [routerLink]="" [routerLinkActive]="'active'" *ngIf="pleas.length > 3">
                View all
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h4>My supported pleas</h4>
          </div>
          <div *ngIf="supportedPleas$ | async as supportedPleas">
            <app-pleas-list [pleas]="supportedPleas"></app-pleas-list>
            <div class="content">
              <p *ngIf="supportedPleas.length === 0">You haven't supported any pleas yet</p>
              <a title="" [routerLink]="" [routerLinkActive]="'active'" *ngIf="supportedPleas.length > 3">
                View all
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h4>My news</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
