<section id="profile-section">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column three desktop-only">
          <div class="content"></div>
        </div>
        <div class="column three align-center">
          <div class="content">
            <img src="{{ profilePictureImgSrc }}" alt="Profile picture"/>
          </div>
<!--           todo: if owner of profile-->
          <div class="content">
            <ul class="btn-list horizontal">
              <li>
                <a role="button" class="btn btn-compact btn-primary">Upload</a>
              </li>
<!--              todo: default if no pic-->
              <li>
                <a role="button" class="btn btn-compact btn-secondary">Delete</a>
              </li>
            </ul>
          </div>
          <div class="content desktop-only">
            <h1>Username</h1>
          </div>
          <div class="content">
            <ul class="space-between-list">
              <li>
                <p class="bold">Username</p>
                <p>dolphinOnKeys</p>
              </li>
              <li>
                <p class="bold">Initiated pleas</p>
                <p>12</p>
              </li>
              <li>
                <p class="bold">Complied initiated pleas</p>
                <p>2</p>
              </li>
              <li>
                <p class="bold">Supported pleas</p>
                <p>547</p>
              </li>
              <li>
                <p class="bold">Complied supported pleas</p>
                <p>62</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <ul class="card-list">
              <li>
                <div class="card simple-card">
                  <h2 class="simple-card-title">
<!--                    todo: if not owner of profile: username's pleas-->
                    My pleas
                  </h2>
                  <div class="simple-card-content">
<!--                    ngif user has no pleas-->
<!--                    <p>You haven't initiated any pleas yet</p>-->
<!--                    else show latest 3 pleas in mini card + 'see all' if more than 3-->
                    <div class="card-preview-list">

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
<!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                    </div>
                  </div>
                  <!--                    ng if more than 3-->
                  <footer class="card simple-card-footer align-right">
                    <a title="" [routerLink]="" [routerLinkActive]="'active'">
                      View all
                    </a>
                  </footer>
                </div>
              </li>
              <li>
                <div class="card simple-card">
                  <h2 class="simple-card-title">
<!--                    todo: if not owner of profile: username's supported pleas-->
                    My supported pleas
                  </h2>
                  <div class="simple-card-content">
<!--                    ngif user has no supported pleas-->
<!--                    <p>You haven't supported any pleas yet</p>-->
<!--                    else show latest 3 pleas in mini card + 'see all if more than 3-->
                    <div class="card-preview-list">

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                    </div>
                  </div>
                  <!--                    ng if more than 3-->
                  <footer class="card simple-card-footer align-right">
                    <a title="" [routerLink]="" [routerLinkActive]="'active'">
                      View all
                    </a>
                  </footer>
                </div>
              </li>
<!--              todo: ngif owner of profile-->
              <li>
                <div class="card simple-card">
                  <h2 class="simple-card-title">
                    My news
<!--                    todo: consider changing to 'achievements' or something instead of news?-->
<!--                    more engaging and fun for people to see what they have achieved with their supports and-->
<!--                    pleas. Other users may view these achievements as well. If I go down this route, this one -->
<!--                    should be on top of these 3 in the 'quick menu'-->
                  </h2>
                  <div class="simple-card-content">
                    <!--                    ngif user has no news-->
<!--                    <p>There is no news for you yet</p>-->
                    <div class="card-preview-list">

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                      <a class="card mini-card" title="" [routerLink]="" [routerLinkActive]="'active'">
                        <div class="mini-card-img">
                          <!--                          <img src="" alt=""/>-->
                          <div class="temp-box"></div>
                        </div>
                        <div class="mini-card-title">
                          <h3>Line-clamped title</h3>
                        </div>
                      </a>

                    </div>
                  </div>
                  <!--                    ng if more than 3-->
                  <footer class="card simple-card-footer align-right">
                    <a title="" [routerLink]="" [routerLinkActive]="'active'">
                      View all
                    </a>
                  </footer>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
