.app-modal-success {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 0.8);
}

.alert.alert-success {
  padding: 20px;
  min-width: 100%;
}
