<section id="contact-section">
  <h1 class="desktop-only">Contact</h1>
  <div class="clr-row">
    <div class="clr-col-lg-4">
      <h2>Get in touch</h2>
    </div>
    <div class="clr-col-lg-8">
      <p>Got any burning questions, an issue or would you like to send us some feedback? Send us an email!</p>

      <p>
        <span class="larger highlighted-txt bold">info@pleagan.vg</span>
      </p>

      <p>Alternatively you can shoot us a message on social media ( and follow us ).</p>

      <ul class="icon-list horizontal">
        <li *ngFor="let icon of icons">
          <a href="{{ icon.socialUrl }}">
            <img src="{{ icon.imageUrl }}" alt="{{ icon.socialAlt }}" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
