.plea-list {
  list-style-type: none;
  margin-top: -20px;
}

.search-box {
  background-color: rgba(242,242,242,.96);
  margin: 0 -24px;
  padding: 20px 24px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  transform: translateY(-24px);
}

.search-box input {
  margin-left: 10px;
  width: 100%;
}

.search-box clr-icon {
  margin-top: .2rem;
}

.flex-row {
  display: flex;
}
