.stat-tools {
  width: 100vw;
  height: auto;
  margin: 1rem 0 0 -1rem;
  padding: 0.25rem 1rem 1.5rem;
  box-sizing: border-box;
}

.stat-tools .clr-row {
  display: flex;
  justify-content: space-between;
}

#dataset-selection {
  display: flex;
  justify-content: flex-end;
}

clr-select-container {
  margin-left: .5rem;
}

@media only screen and (min-width: 768px) {
  .stat-tools {
    width: 100%;
    margin: 1rem 0 0;
    //padding-right: 1rem;
    padding: 0;
    background-color: transparent;
  }
}


