<h2>FAQ</h2>

<p>
  Find some frequently asked questions and answers below. Still have unanswered questions?
  <a [routerLink]="['/contact']" class="underlined">Find our contact details here</a>.
</p>

<div id="faq">
<!--  <clr-accordion>-->
<!--    <clr-accordion-panel>-->
<!--      <clr-accordion-title>Item 1</clr-accordion-title>-->
<!--      <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>-->
<!--    </clr-accordion-panel>-->

<!--    <clr-accordion-panel>-->
<!--      <clr-accordion-title>Item 2</clr-accordion-title>-->
<!--      <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>-->
<!--    </clr-accordion-panel>-->

<!--    <clr-accordion-panel>-->
<!--      <clr-accordion-title>Item 3</clr-accordion-title>-->
<!--      <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>-->
<!--    </clr-accordion-panel>-->
<!--  </clr-accordion>-->
</div>
