/*@start productImage*/
img {
  width: 100%;
}
/*@end productImage*/



/*@start form elements*/
input:focus,
input:focus-within,
input:active,
textarea:focus,
textarea:focus-within,
textarea:active {
  outline: none;
}
/*@end form elements*/



/*@start suggestion-list*/
.suggestion-list {
  > li {
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    background-color: #F4F4F4FF;
    height: 4rem;
    padding: .5rem;

    > div {
      display: inline-flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .thumbnail {
        width: 6rem;
        height: 100%;
        border-radius: 3px;
        background-size: cover;
      }

      .title {
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
/*@end suggestion-list*/

