<div class="step-template">
  <div class="content">
    <h3>Similar pleas</h3>
    <sub>
      We have found {{ pleas.length }} plea{{(pleas.length > 1 ? 's' : '')}} that look{{(pleas.length < 2 ? 's' : '')}}
      very similar to yours. Please verify that your plea is unique.
    </sub>
  </div>

  <div class="content">
    <ul class="suggestion-list">
      <li *ngFor="let plea of pleas"
          [routerLink]="['/', 'plea', 'details', plea.id]">
        <div>
          <div class="thumbnail" [style.background-image]="'url(' + plea.productImage + ')'"></div>
          <div class="title">
            <span class="bold">{{ plea.companyName }}</span>
            <span>{{ plea.productName }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="content">
    <input id="myPleaIsNew" type="checkbox" [(ngModel)]="step.isComplete">
    <label for="myPleaIsNew">My plea not in the above list</label>
  </div>
</div>
