<div class="step-template">
  <div class="content">
    <h2>Similar pleas</h2>
    <sub>We have found {{ pleas.length }} pleas that look very similar to yours. Please verify it doesn't exist yet or support a pre-existing plea.</sub>
  </div>

  <div class="content">
    <ul class="suggestion-list">
      <li *ngFor="let plea of pleas"
          [routerLink]="['/', 'plea', 'details', plea.id]">
        <div>
          <div class="thumbnail" [style.background-image]="'url(' + plea.productImage + ')'"></div>
          <div class="title">
            <span class="bold">{{ plea.companyName }}</span>
            <span>{{ plea.productName }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="content">
    <input id="myPleaIsNew" type="checkbox" [(ngModel)]="step.isComplete">
    <label for="myPleaIsNew">My plea is not in the list</label>
  </div>
</div>
