<a [routerLink]="['/plea', plea.id, 'details']" class="card plea-card clickable">
  <div class="card-block c-header">
    <h4 class="card-title">{{ plea.nonVeganProduct.name }}</h4>
    <span class="card-subtitle">by {{ plea.company.name }}</span>
  </div>

  <div class="card-img">
    <img src="{{ plea.nonVeganProduct.imageUrl }}" />
  </div>

  <div class="card-block c-footer">
    <div class="progress">
      <progress value="{{ plea.numberOfSupports }}" [max]="getTarget()"></progress>
    </div>
    <p class="card-text">
      <span class="bold">{{ plea.numberOfSupports }}</span> current supporter{{ plea.numberOfSupports > 1 ? 's' : null }}
    </p>

    <div class="footer-actions">
      <a
        (click)="$event.preventDefault()"
        [routerLink]="['/plea', plea.id, 'support']"
        type="button"
        class="btn btn-primary btn-icon"
        aria-label="Support this plea"
      >
        <clr-icon shape="heart" size="16"></clr-icon>
        Support
      </a>
    </div>

  </div>
</a>
