<!--<ng-container *ngFor="let displayMessage of (displayMessages$ | async)">-->
<!--  <div *ngIf="!displayMessage.dismissed"-->
<!--       [@fadeInOutSingle]-->
<!--       class="alert alert-{{ displayMessage.level }}" >-->
<!--    <div class="alert-items">-->
<!--      <div class="alert-item static">-->
<!--        <div class="alert-icon-wrapper" [ngSwitch]="displayMessage.level">-->
<!--          <clr-icon *ngSwitchCase="'info'" class="alert-icon" shape="info-circle"></clr-icon>-->
<!--          <clr-icon *ngSwitchCase="'success'" class="alert-icon" shape="check-circle"></clr-icon>-->
<!--          <clr-icon *ngSwitchCase="'warning'" class="alert-icon" shape="exclamation-triangle"></clr-icon>-->
<!--          <clr-icon *ngSwitchCase="'danger'" class="alert-icon" shape="exclamation-circle"></clr-icon>-->
<!--        </div>-->
<!--        <div class="alert-text">-->
<!--          {{ displayMessage.message }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button type="button"-->
<!--            class="close"-->
<!--            (click)="dismiss( displayMessage )"-->
<!--            aria-label="Dismiss">-->
<!--      <clr-icon aria-hidden="true" shape="close"></clr-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</ng-container>-->
