<section id="initiate-plea-section">
  <div class="section-content">
    <div class="grid">

      <div class="column">
        <div class="column">
          <div class="content">
            <h1>Title</h1>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
          <div class="column two">
            <div class="content">
              <p>Content</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--<section id="initiate-plea-section">-->
<!--  <h1 class="desktop-only">Initiate a plea</h1>-->
<!--  <div class="clr-row">-->
<!--    <div class="clr-col-lg-6">-->
<!--      <form clrForm (ngSubmit)="submit(newPleaForm)" [formGroup]="newPleaForm">-->
<!--        <clr-input-container>-->
<!--          <label for="company">Company name*</label>-->
<!--          <input-->
<!--            id="company"-->
<!--            clrInput-->
<!--            autocomplete="off"-->
<!--            type="text"-->
<!--            formControlName="company"-->
<!--            (keyup)="searchSimilarPleas()"-->
<!--            required-->
<!--          />-->

<!--          <clr-control-helper>Please enter the company name</clr-control-helper>-->
<!--          <clr-control-error>This field is required</clr-control-error>-->
<!--        </clr-input-container>-->

<!--        <clr-input-container>-->
<!--          <label for="product">Product name*</label>-->
<!--          <input-->
<!--            id="product"-->
<!--            clrInput-->
<!--            autocomplete="off"-->
<!--            type="text"-->
<!--            formControlName="product"-->
<!--            (keyup)="searchSimilarPleas()"-->
<!--            required-->
<!--          />-->

<!--          <clr-control-helper>Please enter the product name</clr-control-helper>-->
<!--          <clr-control-error>This field is required</clr-control-error>-->
<!--        </clr-input-container>-->

<!--        &lt;!&ndash;        <clr-input-container>&ndash;&gt;-->
<!--        &lt;!&ndash;          <clr-checkbox-wrapper>&ndash;&gt;-->
<!--        &lt;!&ndash;            <input type="checkbox" clrCheckbox id="hospitality-sector"/>&ndash;&gt;-->
<!--        &lt;!&ndash;            <label for="hospitality-sector">This is a product in the hospitality sector</label>&ndash;&gt;-->
<!--        &lt;!&ndash;          </clr-checkbox-wrapper>&ndash;&gt;-->
<!--        &lt;!&ndash;        </clr-input-container> if true, display extra select field with countries and input field for city since cafes etc are very local &ndash;&gt;-->

<!--        <ng-container *ngIf="this.pleaInSuggestions === false; else existingPleaCheck">-->
<!--          <clr-input-container>-->
<!--            <label>Company email</label>-->
<!--            <input clrInput type="mail" formControlName="companyContact" />-->

<!--            <clr-control-helper>-->
<!--              Please help us out if you can and provide the companies customer service email, so we can notify them of-->
<!--              the plea-->
<!--            </clr-control-helper>-->
<!--            <clr-control-error>This field is required</clr-control-error>-->
<!--          </clr-input-container>-->

<!--          <clr-input-container class="file-upload-container">-->
<!--            <label>Product image *</label>-->
<!--            <label class="custom-file-upload">-->
<!--              <clr-icon shape="upload" size="16"></clr-icon>-->
<!--            </label>-->
<!--            <input-->
<!--              clrInput-->
<!--              type="file"-->
<!--              (change)="onFileChange($event.target['files'])"-->
<!--              accept=".jpg,.png,.webp"-->
<!--              data-max-size="2048"-->
<!--              formControlName="productImage"-->
<!--            />-->

<!--            <clr-control-helper>Please upload an image of the current product</clr-control-helper>-->

<!--            &lt;!&ndash;TODO: these don't work yet&ndash;&gt;-->
<!--            <clr-control-error *clrIfError="'requiredFieldError'">This field is required</clr-control-error>-->
<!--            <clr-control-error *clrIfError="'fileSizeError'">File must not exceed 2mb</clr-control-error>-->
<!--            <clr-control-error *clrIfError="'extensionError'"-->
<!--            >Allowed file extensions are .jpg, .png or .webp</clr-control-error-->
<!--            >-->
<!--          </clr-input-container>-->

<!--          <img *ngIf="imagePreview" src="{{ imagePreview }}" alt="product-image"/>-->

<!--          &lt;!&ndash;  TODO: max chars&ndash;&gt;-->
<!--          <clr-textarea-container>-->
<!--            <label>Your message *</label>-->
<!--            <textarea clrTextarea formControlName="description"></textarea>-->

<!--            <clr-control-helper>-->
<!--              Write your plea to the producer or call for support of other pleagans here!-->
<!--            </clr-control-helper>-->
<!--          </clr-textarea-container>-->

<!--          &lt;!&ndash;  TODO: add optional ingredient list textarea, like how you can add tags when uploading a YT video separated by commas&ndash;&gt;-->
<!--          &lt;!&ndash;  TODO: then let user$ tap and highlight the animal products in these tags&ndash;&gt;-->
<!--&lt;!&ndash;          <app-loading-indicator height="100px">&ndash;&gt;-->
<!--            <app-loading-indicator [httpStatus]="savingPleaStatus">-->
<!--              <button class="btn btn-primary"-->
<!--                      type="submit"-->
<!--                      [disabled]="!newPleaForm.valid || submitted">-->
<!--                Submit-->
<!--              </button>-->
<!--            </app-loading-indicator>-->
<!--&lt;!&ndash;          </app-loading-indicator>&ndash;&gt;-->
<!--        </ng-container>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<ng-template #existingPleaCheck>-->
<!--  <div *ngIf="newPleaForm.get('product').value && newPleaForm.get('company').value" [@swipeInBelowSwipeOutTop]>-->
<!--    <app-loading-indicator height="200px" [httpStatus]="existingPleaCheckStatus">-->
<!--      <ng-container *ngIf="similarPleas$ | async as similarPleas">-->
<!--        <ng-container *ngIf="similarPleas.length; else noSimilarPleas">-->
<!--          <ng-container *ngTemplateOutlet="existingPleas; context: { pleas: similarPleas }"></ng-container>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </app-loading-indicator>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<ng-template #existingPleas let-pleas="pleas">-->
<!--  <div class="card suggested-pleas">-->
<!--    <div class="card-header">Make sure a plea for this product doesn't already exist</div>-->
<!--    <div class="card-block">-->
<!--      <div class="card-text">-->
<!--        <p>-->
<!--          Please take a moment to verify. If it doesn't, support the existing plea instead of initiating a-->
<!--          new one. Duplicate pleas decrease Pleagan's effectiveness!-->
<!--        </p>-->
<!--        <clr-stack-view>-->
<!--          <clr-stack-block-->
<!--            *ngFor="let plea of pleas"-->
<!--            [routerLink]="['/', 'plea', 'details', plea.id]"-->
<!--          >-->
<!--            <clr-stack-label>{{ plea.company.name }}</clr-stack-label>-->
<!--            <clr-stack-content>-->
<!--              {{ plea.nonVeganProduct.name }}-->
<!--            </clr-stack-content>-->
<!--          </clr-stack-block>-->
<!--        </clr-stack-view>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-footer">-->
<!--      <button type="button" class="btn btn-primary" (click)="pleaInSuggestions = false">This is a different product</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->

<!--<ng-template #noSimilarPleas>-->
<!--  <div class="card suggested-pleas">-->
<!--    <div class="card-header">You're good!</div>-->
<!--    <div class="card-block">-->
<!--      <div class="card-text">-->
<!--        <p>-->
<!--          No other pleas matching the given information exists! You can go ahead and create it.-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="card-footer">-->
<!--      <button type="button" class="btn btn-primary" (click)="pleaInSuggestions = false">Continue</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
