<section id="initiate-plea-section">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column three desktop-only">
          <div class="content"></div>
        </div>
        <div class="column three">
          <div class="content desktop-only">
            <h1>Initiate a plea</h1>
          </div>
          <div class="content">
            <form (ngSubmit)="submit(newPleaForm)" [formGroup]="newPleaForm">
              <div class="form-row">
                <label for="company">Company name*</label>
                <input
                  id="company"
                  autocomplete="off"
                  type="text"
                  formControlName="company"
                  (keyup)="searchSimilarPleas()"
                  required
                />
<!--                <clr-control-helper>Please enter the company name</clr-control-helper>-->
<!--                <clr-control-error>This field is required</clr-control-error>-->
              </div>

              <div class="form-row">
                <label for="product">Product name*</label>
                <input
                  id="product"
                  autocomplete="off"
                  type="text"
                  formControlName="product"
                  (keyup)="searchSimilarPleas()"
                  required
                />

<!--                <clr-control-helper>Please enter the product name</clr-control-helper>-->
<!--                <clr-control-error>This field is required</clr-control-error>-->
              </div>

              <!--        <clr-input-container>-->
              <!--          <clr-checkbox-wrapper>-->
              <!--            <input type="checkbox" clrCheckbox id="hospitality-sector"/>-->
              <!--            <label for="hospitality-sector">This is a product in the hospitality sector</label>-->
              <!--          </clr-checkbox-wrapper>-->
              <!--        </clr-input-container> if true, display extra select field with countries and input field for city since cafes etc are very local -->

              <ng-container *ngIf="this.pleaInSuggestions === false; else existingPleaCheck">
                <div class="form-row">
                  <label>Company email</label>
                  <input type="email" formControlName="companyContact" />

<!--                  <clr-control-helper>-->
<!--                    Please help us out if you can and provide the companies customer service email, so we can notify them of-->
<!--                    the plea-->
<!--                  </clr-control-helper>-->
<!--                  <clr-control-error>This field is required</clr-control-error>-->
                </div>

                <div class="form-row">
                  <div class="file-upload-container">
                    <label>Product image*</label>
                    <a role="button" class="btn btn-primary btn-compact custom-file-upload">
                      +
                    </a>
<!--                    todo: hide this below I guess-->
                    <input
                      type="file"
                      (change)="onFileChange($event.target['files'])"
                      accept=".jpg,.png,.webp"
                      data-max-size="2048"
                      formControlName="productImage"/>

<!--                  <clr-control-helper>Please upload an image of the current product</clr-control-helper>-->

                  <!--TODO: these don't work yet-->
<!--                  <clr-control-error *clrIfError="'requiredFieldError'">This field is required</clr-control-error>-->
<!--                  <clr-control-error *clrIfError="'fileSizeError'">File must not exceed 2mb</clr-control-error>-->
<!--                  <clr-control-error *clrIfError="'extensionError'"-->
<!--                  >Allowed file extensions are .jpg, .png or .webp</clr-control-error-->
<!--                  >-->
                  </div>
                </div>

                <img *ngIf="imagePreview" src="{{ imagePreview }}" alt="product-image"/>

                <!--  TODO: max chars-->
                <div class="form-row">
                  <label>Your message*</label>
                  <textarea formControlName="description" rows="6"></textarea>
<!--                  <clr-control-helper>-->
<!--                    Write your plea to the producer or call for support of other pleagans here!-->
<!--                  </clr-control-helper>-->
                </div>

                <!--  TODO: add optional ingredient list textarea, like how you can add tags when uploading a YT video separated by commas-->
                <!--  TODO: then let user$ tap and highlight the animal products in these tags-->
                <!--          <app-loading-indicator height="100px">-->
<!--                <app-loading-indicator [httpStatus]="savingPleaStatus">-->
<!--                todo: [disabled]="!newPleaForm.valid || submitted" > disbabled class-->
                 <div class="align-right">
                   <a role="button"
                      class="btn btn-primary"
                      type="submit"
                      (click)="submit(newPleaForm)">
                     Submit
                   </a>
                 </div>
<!--                </app-loading-indicator>-->
                <!--          </app-loading-indicator>-->
              </ng-container>
            </form>
          </div>
        </div>
        <div class="column three desktop-only">
          <div class="content"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #existingPleaCheck>
  <div *ngIf="newPleaForm.get('product').value && newPleaForm.get('company').value" [@swipeInBelowSwipeOutTop]>
<!--    <app-loading-indicator height="200px" [httpStatus]="existingPleaCheckStatus">-->
      <ng-container *ngIf="similarPleas$ | async as similarPleas">
        <ng-container *ngIf="similarPleas.length; else noSimilarPleas">
          <ng-container *ngTemplateOutlet="existingPleas; context: { pleas: similarPleas }"></ng-container>
        </ng-container>
      </ng-container>
<!--    </app-loading-indicator>-->
  </div>
</ng-template>

<ng-template #existingPleas let-pleas="pleas">
  <div class="card suggested-pleas">
    <p class="card-header">
      <p class="bold">Make sure a plea for this product doesn't already exist</p>
    <div class="card-body">
      <p>
        Please take a moment to verify. If it doesn't, support the existing plea instead of initiating a
        new one. Duplicate pleas decrease Pleagan's effectiveness!
      </p>

      <ul class="suggestion-list">
        <li *ngFor="let plea of pleas"
            [routerLink]="['/', 'plea', 'details', plea.id]">
          <span class="bold">{{ plea.company.name }}</span>
          <p>
            {{ plea.nonVeganProduct.name }}
          </p>
        </li>
      </ul>
    </div>
    <div class="card-footer align-right">
      <a role="button" class="btn btn-primary btn-compact" (click)="pleaInSuggestions = false">This is a different product</a>
    </div>
  </div>
</ng-template>

<ng-template #noSimilarPleas>
  <div class="card suggested-pleas">
    <div class="card-header">
      <p class="bold">
        You're good!
      </p>
    </div>
    <div class="card-body">
      <p>
        No other pleas matching the given information exists! You can go ahead and create it.
      </p>
    </div>
    <div class="card-footer align-right">
      <a role="button" class="btn btn-primary btn-compact" (click)="pleaInSuggestions = false">Continue</a>
    </div>
  </div>
</ng-template>
