/*@start file-upload container*/
.file-upload-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  label:first-child {
    padding-left: 0;
    padding-right: 0;
  }

  clr-control-helper {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
  }
}
/*@end file-upload container*/

/*@start clr-form*/
.clr-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  //min-height: calc(100% - 72px);
  padding-bottom: 1rem;
}
/*@end clr-form*/

/*@start input suggestions container*/
.input-container-with-suggestions {
  position: relative;
}
/*@end input suggestions container*/

/*@start overflow ellipsis*/
.overflow-ellipsis {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
/*@end overflow ellipsis*/

/*@start suggested pleas & suggestion cards within*/
.suggested-pleas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow-y: scroll;

    .card-text > p:first-child {
      margin-top: 0;
    }

    clr-stack-view {
      margin-top: 1rem;
    }
  }

  .card-footer .btn {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .card-footer .btn {
      min-width: 100%;
    }
  }
}
/*@end suggested pleas & suggestion cards within*/

/*@start loading indicator container*/
.loading-indicator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/*@end loading indicator container*/
