.search-box {
  margin: 0 -1rem;
  padding: 1rem;
  display: block;
  transform: translateY(-1rem);
}

.search-box input {
  margin-left: .75rem;
  width: 100%;
}

.search-box clr-icon {
  margin-top: 4px;
}

.flex-row {
  display: flex;
}
