/*@start clr row*/
clr-accordion-content div.clr-row,
li.clr-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*@end clr row*/

/*@start settings list list items*/
// First list that holds Accounts, Notification and Theme lists
.settings-list > li {
  padding-bottom: 1rem;
}

.settings-sublist > li:last-child {
  padding-bottom: 1rem;
}
/*@end settings list list items*/
