li.clr-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.settings-list > li h5 {
  font-weight: bolder;
}

.settings-list > li {
  padding-bottom: 1rem;
}

ul ul {
  margin-left: 1em;
}


