<div class="plea-details" *ngIf="plea$ | async as plea">
  <div>
    <h2>
      Dear <span class="highlighted-txt">{{ plea.company.name }}</span
      >,
    </h2>

    <div class="plea-text">
      <p>
        We the pleagans are pleading you to please veganize your <span class="highlighted-txt">{{ product.name }}</span
        >.
      </p>

      <p>
        <span class="highlighted-txt bold">{{ plea.supporters.length }}</span> of us have supported this plea since its
        initiation on <span class="highlighted-txt">{{ plea.creationTimestamp | date: 'dd-MM-yyyy' }} </span>. We are
        longing for your product and want to support your business! As you know we can only do that if your product is
        100% plant based and free of any animal product.
      </p>
    </div>

    <div id="original-plea">
      <div class="plea-support-btn">
        <a
          type="button"
          (click)="$event.preventDefault()"
          [routerLink]="['/plea', 'support', plea.id]"
          class="btn btn-primary btn-icon"
          aria-label="Support this plea"
        >
          <clr-icon shape="plus" size="16"></clr-icon>
          Support this plea
        </a>
      </div>

      <div class="plea-header">
        <h3>
          Presenting the plea for a plant-based <span class="bold">{{ product.name }}</span> product
        </h3>
        <span>by {{ plea.company.name }}</span>
      </div>

      <div class="clr-row">
        <div class="plea-details clr-col-xl-6 clr-col-12">
          <p>
            Since <span class="bold">{{ plea.creationTimestamp | date: 'dd-MM-yyyy' }}</span
          >, <span class="bold">{{ plea.supporters.length }}</span> pleagans have supported this plea!
          </p>

          <p>
            Plea initiator <span class="bold">{{ plea.initiator.name }}</span> wrote:
          </p>
          <p class="italic">"{{ plea.initiator.message }}"</p>
        </div>

        <div class="plea-product-img clr-col-xl-6 clr-col-12">
          <img class="plea-img" src="{{ plea.imageUrl }}" alt="Image of product" />
        </div>
      </div>

      <!-- collapsible, graphs go here-->
      <!-- banner maybe-->
      <div>
        <h3>Stats</h3>
      </div>

      <div>
        <h3>Supporters</h3>
      </div>
    </div>
  </div>
</div>
