#original-plea {
  margin: 2rem -1rem -1rem;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: black;
}

.plea-support-btn {
  text-align: center;
  margin-top: -3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.og-plea-details {
  list-style-type: none;
  padding: 0.5rem 0;
}

.og-plea-details > li p {
  //color: var(--primary-text-color);
  margin: 1rem 0;
}

.plea-img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin-left: -1rem;
  margin-bottom: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
