#original-plea {
  margin: 2rem -1rem -1rem;
  background-color: var(--secondary-accent-color);
  padding: 2rem 1rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: var(--primary-text-color);
}

#original-plea h3 {
  color: var(--primary-text-color);
}

.plea-support-btn {
  text-align: center;
  margin-top: -3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.plea-support-btn a.btn {
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
}

.plea-img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 1024px){
  .plea-img {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
  }
}

.plea-text > p:first-child {
  font-size: 1.25rem;
  line-height: 2rem;
}

.plea-details img {
  margin-top: 0.75rem;
}
