<clr-main-container>
  <app-header></app-header>
  <div class="content-container">
    <app-nav></app-nav>
    <main class="content-area">
      <div class="grid" [@routingAnimations]="prepareRoute( outlet )">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </main>
  </div>
  <app-fab-button *showOnAuth="true"
                  [desktopOnly]="true"
                  [fillBackground]="true"
                  ariaLabel="Initiate a plea"
                  [routerLink]="['/', 'plea', 'initiate']">
    <clr-icon shape="plus" size="16"></clr-icon>
    Initiate
  </app-fab-button>
</clr-main-container>
