/*@start search box*/
.search-box {
  display: flex;
  flex-direction: row;
  height: 25px;
  padding: 10px 20px 5px 20px;

  & input {
    z-index: 0;
  }
}
/*@end search box*/



/*@start search box icon*/
img {
  padding-top: 5px;
  height: 20px;
  margin-right: 10px;
}
/*@end search box icon*/
