.card-block a.btn {
  margin: .5rem 0;
}

.card-img img {
  filter: opacity(0.8);
  transition: all 500ms;
}

.card.clickable:active,
.card.clickable:hover {
  box-shadow: none;
}

.card.clickable:active .card-img img,
.card.clickable:hover .card-img img {
  filter: opacity(1);
}
