<div class="clr-row">
  <div class="clr-col-lg-6 clr-col-12">
    <a [routerLink]="['/plea', 'details', plea.id]" class="card clickable">
      <div class="card-block">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text">by {{ plea.company.name }}</p>
      </div>

      <div class="card-img">
        <img src="{{ plea.imageUrl }}" />
      </div>

      <div class="card-block">
        <div class="progress">
          <progress value="{{ plea.supporters.length }}" [max]="getTarget()"></progress>
        </div>
        <p class="card-text">
          <span class="bold">{{ plea.supporters.length }}</span> current supporter{{
            plea.supporters.length > 1 ? 's' : null
          }}
        </p>

        <a
          (click)="$event.preventDefault()"
          [routerLink]="['/plea', 'support', plea.id]"
          type="button"
          class="btn btn-primary btn-icon"
          aria-label="Support this plea"
        >
          <clr-icon shape="heart" size="16"></clr-icon>
          Support this plea
        </a>
      </div>
    </a>
  </div>
</div>
