/*@start clr-modal*/
clr-modal {
  z-index: 90;
  text-align: left;
}
/*@end clr-modal*/

/*@start clr-modal textarea*/
//TODO: 100% width
//clr-modal clr-textarea-container textarea {}
/*@end clr-modal textarea*/

/*@start clr-icon*/
a.btn clr-icon {
  margin-top: -3px;
}
/*@end clr-icon*/



