/*@start landing section typography*/
.header-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--danger-color);
  text-decoration: line-through;
  text-decoration-color: var(--danger-color);
}

.header-subtext {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
/*@end landing section typography*/

