<section class="section" id="landing-section">
  <div class="section-content">
    <div class="grid">
      <div class="column three b">
        <div class="column">
          <div class="content">
            <h1 class="header-title">
              pleagan
            </h1>
          </div>
          <div class="content">
            <p class="header-subtitle">
              "contains 1% milk powder"
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <p class="header-subtext">
              Often come across products that are only 1 or 2 ingredients away from being vegan? Missing a product? Just want more options?
            </p>
          </div>
          <div class="content">
            <p class="header-subtext">
              Pleagan is a platform for all your vegan product petitions!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
