<h2>Support the plea for...</h2>
<p *ngIf="plea$ | async as plea" class="larger">
  a veganised <span class="highlighted-txt">{{ plea.nonVeganProduct.name }}</span> by
  <span class="highlighted-txt">{{ plea.company.name }}</span>
</p>

<form clrForm (ngSubmit)="submit()" [formGroup]="supportPleaForm">
  <clr-textarea-container>
    <label>Your message *</label>
    <textarea clrTextarea formControlName="pleaMsg"></textarea>

    <clr-control-helper>
      Write a message to the company to let them know how much you want this product and why
    </clr-control-helper>
  </clr-textarea-container>

  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox value="receiveUpdates" name="permissions" />
      <label>Send me updates regarding this plea</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>

  <button class="btn btn-primary" type="submit" [disabled]="!supportPleaForm.valid">Submit</button>
</form>

<app-modal-success
  *ngIf="displayModal"
  [message]="' Your support has been noted! // Please verify '"
></app-modal-success>
