<clr-header>
  <div class="branding">
    <a [routerLink]="['/']">
      <span class="title">pleagan</span>
    </a>
  </div>
  <div class="page-title">
    <span>{{ resolveCurrentPage() }}</span>
  </div>
</clr-header>

<nav class="subnav" [clr-nav-level]="1">
  <ul class="nav">
    <!--    <li class="nav-item">-->
    <!--      <a-->
    <!--        class="nav-link"-->
    <!--        [routerLinkActive]="'active'"-->
    <!--        [routerLinkActiveOptions]="{ exact: true }"-->
    <!--        [routerLink]="['/']"-->
    <!--      >-->
    <!--        Home-->
    <!--      </a>-->
    <!--    </li>-->

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['plea', 'new']">
        <button type="button" id="initiate-plea-btn" class="btn btn-primary btn-icon" aria-label="Initiate a plea">
          <clr-icon shape="plus" size="16"></clr-icon>
          Initiate a plea
        </button>
      </a>
    </li>

    <hr />

    <p class="larger">Pleas</p>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['plea', 'all']">All pleas</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['news']">News</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['haf']">Hall of Fame</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['leaderboard']">Leaderboards</a>
    </li>

    <hr />

    <p class="larger">About</p>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['about']">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['faq']">FAQ</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['contact']">Contact</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['special-thanks']">Special thanks</a>
    </li>
  </ul>
</nav>
