nav.subnav.clr-nav-level-1 .nav .nav-link {
  padding: .25rem 1rem!important;
}

.header .branding .title,
header .branding .title,
.page-title span {
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 3rem;
  text-decoration: none;
}

nav.subnav p {
  padding: 0 1rem;
  font-size: larger;
  color: var(--primary-accent-color);
}

nav.subnav ul {
  list-style-type: none;
}

nav.subnav ul > li:first-child {
  padding: 1rem 0;
  height: 100px;
  text-decoration: none;
}

nav.subnav ul > li:not(:first-child) {
  margin: .25rem 0;
}

a.nav-link {
  text-decoration: underline;
}

clr-header .page-title {
  position: fixed;
  right: 1rem;
}

#initiate-plea-btn {
  margin: 1rem 0;
  width: 100%;
}

#initiate-plea-btn clr-icon {
  margin-top: -4px;
}

@media only screen and (min-width: 768px) {
  nav.subnav {
    display: none;
  }
}
