<section id="all-pleas-section" class="section">
  <h1 class="desktop-only">All pleas</h1>
  <app-search-box (queryUpdated)="updateQuery($event)"></app-search-box>
  <div class="clr-row">
    <div class="clr-col-lg-12">
      <app-pleas-list *ngIf="pleas$ | async as pleas" [pleas]="pleas"></app-pleas-list>
    </div>
  </div>
</section>

<app-fab-button
  [mobileOnly]="true"
  [fillBackground]="true"
  ariaLabel="Initiate a plea"
  [routerLink]="['/', 'plea', 'new']"
>
  <clr-icon shape="plus" size="16"></clr-icon>
  Initiate
</app-fab-button>
