<!--todo: capitalize names etc-->
<a [routerLink]="plea.id ? ['/plea', plea.id] : null"
   class="card plea-card clickable">
  <div class="card-header">
    <p class="card-title">{{ plea.productName }}</p>
  </div>

  <div class="card-img">
    <span class="card-tag">by {{ plea.companyName }}</span>
    <div class="img" [attr.data-background-src]="plea.productImage"></div>
<!--    <img (load)="$event.target['classList'].add('loaded')"-->
<!--         [src]="plea.productImage"-->
<!--         alt="product image"/>-->
<!--    <div class="ph-item">-->
<!--      <div class="ph-picture"></div>-->
<!--    </div>-->
<!--    <div *ngIf="plea.userHasSupported" class="supported-overlay">-->
<!--      <svg class="heart" viewBox="0 0 32 29.6">-->
<!--        <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2 c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>-->
<!--      </svg>-->
<!--    </div>-->
  </div>
  <div class="card-progress-bar">
    <progress value="{{ plea.numberOfSupports }}" [max]="getTarget()"></progress>
  </div>
  <div class="card-footer">
    <p>
      <span class="bold">{{ plea.numberOfSupports }}</span> supporter{{plea.numberOfSupports > 1 ? 's' : null}}
    </p>
    <p>
      Initiated on {{ plea.createdAt | date: 'dd-MM-yyyy' }}
    </p>
  </div>
</a>
