<div>
  <div class="content">
    <h3>Product and company name</h3>
  </div>

  <div class="content">
    <form [formGroup]="form">
      <div class="form-row">
        <label for="companyName">Company name*</label>
        <input
          id="companyName"
          autocomplete="off"
          type="text"
          formControlName="companyName"
          required/>
      </div>

      <div class="form-row">
        <label for="productName">Product name*</label>
        <input
          id="productName"
          autocomplete="off"
          type="text"
          formControlName="productName"
          required
        />
      </div>
    </form>
  </div>
</div>
