<section class="section" id="my-support-section">
  <div class="section-content">
    <div class="grid">
      <div class="column">
        <div class="column">
          <div class="content desktop-only">
            <h2>My supported pleas</h2>
          </div>
          <div class="column">
<!--            todo: functionality for searchbox-->
<!--            <app-searchControl-box></app-searchControl-box>-->
<!--            <app-loading-indicator [height]="'66vh'" [httpStatus]="pleaStatus">-->
<!--              <app-pleas-list *ngIf="pleas$ | async as pleas" [pleas]="pleas"></app-pleas-list>-->
<!--            </app-loading-indicator>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
