<div class="comment-card">
  <div class="comment-card-body">
    <div class="comment-img"></div>
    <div class="comment-msg">
      <div class="msg-cloud">
        <div class="msg-shape left"></div>
        <h4 class="comment-card-header">{{ support.supporter.displayName }}</h4>
        <span>{{ support.createdAt | date: 'hh:mm dd-MM-YYYY' }}</span
        >, <span> {{ support.supporter.country }}</span>
        <p class="italic">"{{ support.comment }}"</p>
      </div>
    </div>
  </div>
</div>
