.nav-group label {
  color: var(--primary-accent-color);
}

#initiate-plea-btn {
  margin: 1rem;
  width: calc(100% - 2rem);
}

#initiate-plea-btn clr-icon {
  margin-top: -4px;
}

.sidenav .nav-group .nav-list {
  padding: 0;
  margin: 0;
}

.sidenav .nav-group label {
  margin-bottom: .25rem;
}

.sidenav .nav-group .nav-list > li a.nav-link {
  padding: .5rem 2rem;
}

@media only screen and (min-width: 769px) {
  clr-vertical-nav {
    width: 260px;
    border-right: 1px solid #ccc;
    //box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  }

  #sidenav {
    height: calc(100vh - 98px);
    width: 260px;
    margin-top: -12px;
    border: none
  }

  .clr-vertical-nav .nav-group-text, .clr-vertical-nav .nav-link {
    padding-left: 0;
  }

  #initiate-plea-btn {
    width: 220px;
  }

  .nav-button {
    height: 80px;
  }

  .nav-button a {
    height: 80px;
  }

  .sidenav .sidenav-content .nav-link {
    border-radius: 0;
  }

  .sidenav .nav-group .nav-list {
    margin: 0;
  }

  .sidenav .nav-group .nav-list .nav-link {
    line-height: 0.8rem;
    padding: 0.5rem;
  }
}
