<clr-header>
  <div class="branding">
    <a [routerLink]="['/']">
      <span class="title">pleagan</span>
    </a>
  </div>
  <div class="page-title">
    <span>{{ resolveCurrentPage() }}</span>
  </div>
</clr-header>

<!--<div class="nav-button">-->
<!--  <a [routerLinkActive]="'active'" [routerLink]="['plea', 'new']">-->
<!--      <span id="initiate-plea-btn" class="btn btn-primary btn-icon" aria-label="Initiate a plea">-->
<!--        <clr-icon shape="plus" size="14"></clr-icon>-->
<!--        Initiate plea-->
<!--      </span>-->
<!--  </a>-->
<!--</div>-->
