<div
  *ngIf="list.length"
  [ngClass]="{ invisible: !showList || !(list | search: query)?.length }"
  class="suggestion-list"
>
  <ul>
    <ng-container *ngFor="let entry of list | search: query | sortByLikelihood: query; let last = last">
      <li (click)="updateSelectedEntry(entry)">
        {{ entry }}
      </li>
      <hr *ngIf="!last" />
    </ng-container>
    <!--    <li *ngIf="!(list | search: query)?.length">-->
    <!--      No pleas have been initiated for this company yet-->
    <!--    </li>-->
  </ul>
</div>
