/*@start suggestion list*/
.suggestion-list {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 12px);
  border-radius: 3px;
  background-color: var(--tertiary-color);
  padding: 0.5rem;
  -webkit-transition: opacity ease-in-out 200ms;
  -o-transition: opacity ease-in-out 200ms;
  transition: opacity ease-in-out 200ms;
  z-index: 999;

  &.invisible {
    opacity: 0;
    pointer-events: none;
  }

  li {
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  hr {
    background-color: var(--clr-forms-subtext-color);
  }
}
/*@end suggestion list*/
