.card {
  box-shadow: none;
}

.card-block .progress,
.card-block .progress-static,
.card-footer .progress,
.card-footer .progress-static {
  height: .5rem;
  margin-top: -1.1rem;
  position: absolute;
  left: 0;
}

.card-block .progress>progress,
.card-block .progress-static>.progress-meter,
.card-footer .progress>progress,
.card-footer .progress-static>.progress-meter {
  height: .5rem;
  position: absolute;
}

form clr-input-container input {
  width: 100%;
}

.card.clickable:active,
.card.clickable:focus,
.card.clickable:focus-within,
.card.clickable:hover {
  border-color: var(--primary-accent-color);
}

.main-container .content-container .content-area {
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
}

@media only screen and (min-width: 1024px) {
  .content-area {
    max-width: 60vw;
    margin: 0 auto;
  }
}
