body[cds-theme="light"] {
  --primary-color: #F4F4F4;
  --secondary-color: #E3E3E3;
  --tertiary-color: #FFF;
  --quaternary-color: #222;

  --primary-accent-color: #3ca658;
  --primary-accent-darker-color: #2e8043;

  --secondary-accent-color: #328949;
  --secondary-accent-darker-color: #246234;

  --primary-text-color: var(--quaternary-color);
  --primary-text-color-inverted: var(--primary-color);
  --text-accent-color: var(--primary-accent-color);

  // NAV
  --clr-vertical-nav-item-color: var(--primary-text-color);
  --clr-vertical-nav-item-active-color: var(--primary-text-color);
  --clr-vertical-nav-active-bg-color: var(--tertiary-color);
  --clr-vertical-nav-hover-bg-color: var(--primary-color);

  // TEXT
  --clr-global-font-color: var(--primary-text-color);

  --clr-p1-color: var(--primary-text-color);
  --clr-h1-color: var(--text-accent-color);
  --clr-h2-color: var(--text-accent-color);
  --clr-h3-color: var(--text-accent-color);
  --clr-h4-color: var(--text-accent-color);
  --clr-h5-color: var(--text-accent-color);

  // BASE
  --clr-global-app-background: var(--secondary-color);

  // BUTTONS
  --clr-btn-primary-color: var(--tertiary-color);
  --clr-btn-primary-bg-color: var(--primary-accent-color);
  --clr-btn-primary-border-color: var(--primary-accent-color);
  --clr-btn-primary-hover-bg-color: var(--primary-accent-darker-color);

  --clr-btn-default-color: var(--primary-accent-color);
  --clr-btn-default-hover-color: var(--tertiary-color);
  --clr-btn-default-border-color: var(--primary-accent-color);
  --clr-btn-default-hover-bg-color: var(--primary-accent-darker-color);

  // CARDS
  --clr-card-bg-color: var(--primary-color);
  --clr-card-border-color: var(--secondary-color);
  --clr-card-title-color: var(--primary-accent-color);
  --clr-card-divider-color: var(--secondary-color);
  --clr-card-box-shadow: 0 0 0 0 var(--primary-color);

  // CARDS - PROGRESS
  --clr-progress-default-color: var(--primary-accent-color);
}

//body[cds-theme="light"] {
//  --clr-h2-color: red;
//}



