$quaternaryColor: #3bcce5;
$warnColor: #ffd859;

:root {
  --primary-color: #080224;
  --secondary-color: #e2e2e2;
  --tertiary-color: #191332;

  --quaternary-color: #{$quaternaryColor};
  --quinary-color: #ff7fdd;

  --danger-color: #d42323;
  --warn-color: $warnColor;
  --success-color: #c4deae;
}

html {
  background-color: var(--primary-color);
}

.theme-secondary {
  background-color: var(--secondary-color);
}

.theme-secondary h1,
.theme-secondary h2,
.theme-secondary h3,
.theme-secondary h4,
.theme-secondary p,
.theme-secondary a, {
  color: var(--primary-color);
}

.theme-tertiary {
  background-color: var(--tertiary-color);
}

.theme-quaternary {
  background-color: var(--quaternary-color);
}

.theme-quinary {
  background-color: var(--quinary-color);
}

.font-quaternary {
  color: var(--quaternary-color);
}

