:root {
  --primary-color: #e2e1e1;
  --secondary-color: #292929;
  --tertiary-color: #bebebe;
  --quaternary-color: #f88086;
}

html {
  background-color: var(--primary-color);
}

.theme-tertiary {
  background-color: var(--tertiary-color);
}
