.plea-page {
  padding-top: 1rem;
}

.plea-text {
  padding-bottom: 0.5rem;
}

.plea-header {
  margin-bottom: 1rem;
}

.plea-details > p:first-child {
  margin-top: 0;
}

.tag {
  padding: 0.25rem 1rem;
  background-color: var(--tertiary-accent-color);
  color: var(--primary-text-color-inverted);
  display: inline-block;
  margin: 0.5rem 0 0.5rem -1rem;
  text-transform: uppercase;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media only screen and (min-width: 1440px) {
  .tag {
    margin: 1rem 0 0.5rem -1rem;
  }
}

#original-plea {
  margin: 2rem -1rem -1rem;
  background-color: var(--quinary-color);
  padding: 2rem 1rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: var(--primary-text-color);
}

#original-plea h3 {
  color: var(--primary-text-color);
}

.plea-support-btn {
  text-align: center;
  margin-top: -3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}

.plea-support-btn a.btn {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.plea-support-btn a.btn clr-icon {
  margin-top: -3px;
}

.plea-img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin-left: -1rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 769px) {
  .plea-img {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    padding: 0;
    border-radius: 3px;
  }
}

@media only screen and (min-width: 1440px) {
  .plea-img {
    margin-top: 0;
  }
}

.plea-text > p:first-child {
  font-size: 1.25rem;
  line-height: 2rem;
}

.plea-details img {
  margin-top: 0.75rem;
}
