<!--TODO: a user should be able to retract support I suppose-->
<app-message-display [messageLevels]="['warning']"></app-message-display>
<div id="plea-details-page" *ngIf="plea$ | async as plea">
  <div>
    <h1>
      Dear <span class="highlighted-txt">{{ plea.company.name }}</span
      >,
    </h1>

    <div class="plea-text">
      <p>
        We the pleagans are pleading you to please veganize your
        <span class="highlighted-txt">{{ plea.nonVeganProduct.name }}</span
        >.
      </p>

      <p>
        <span class="highlighted-txt bold">{{ plea.numberOfSupports }}</span> of us
        {{ plea.numberOfSupports > 1 ? 'have' : 'has' }} supported this plea since its initiation on
        <span class="highlighted-txt">{{ plea.createdAt | date: 'dd-MM-yyyy' }} </span>. We are longing for your product
        and want to support your business! As you know, we will and can only do that once your product is 100%
        plant-based.
      </p>
    </div>

    <div id="original-plea" [@swipeInBelowSwipeOutTop]>
      <div class="plea-support-btn">
        <a
          type="button"
          (click)="$event.preventDefault()"
          [routerLink]="['/plea', plea.id, 'support']"
          class="btn btn-primary btn-icon"
          aria-label="Support this plea"
        >
          <clr-icon shape="heart" size="16"></clr-icon>
          Support this plea
        </a>
      </div>

      <div class="plea-header">
        <h3>
          Presenting the plea for a plant-based <span class="bold">{{ plea.nonVeganProduct.name }}</span>
        </h3>
        <span>by {{ plea.company.name }}</span
        ><br />
        <div class="tag">
          <span class="bolder">{{ plea.numberOfSupports }}</span> supporter{{ plea.numberOfSupports > 1 ? 's' : null }}
        </div>
      </div>

      <div class="clr-row clr-flex-lg-row-reverse">
        <div class="plea-details clr-col-xl-6 clr-col-12">
          <p>
            Initiated on <span class="bold">{{ plea.createdAt | date: 'dd-MM-yyyy' }}</span
            ><br />
            By <span class="bold">{{ plea.pleagan.displayName }}</span>
          </p>

          <div class="msg-cloud">
            <div class="msg-shape"></div>
            <span class="italic">"{{ plea.description }}"</span>
          </div>
        </div>

        <div class="plea-product-img clr-col-xl-6 clr-col-12">
          <img class="plea-img" src="{{ plea.nonVeganProduct.imageUrl }}" alt="Image of product" />
        </div>
      </div>

      <div class="clr-row util-bar">
        <ul class="btn-list horizontal">
<!--          TODO: only visible if not owner of this plea-->
<!--          TODO: if user has reported, this should change to 'reported' and disabled so no user can report a plea twice-->
          <li>
            <button class="btn btn-primary btn-compact"
                    aria-label="Report a problem"
                    (click)="isOpen = true">
              Report issue
            </button>
          </li>
<!--          TODO: only visible if owner of plea-->
          <li>
            <button class="btn btn-secondary-outline btn-compact" aria-label="Delete plea">
              Delete this plea
            </button>
          </li>
          <li>
            <button class="btn btn-primary btn-compact" aria-label="Share plea">
              Share
            </button>
          </li>
          <li>
            <button class="btn btn-primary btn-compact" aria-label="Plea statistics">
              Statistics
            </button>
          </li>
        </ul>
      </div>

      <div>
        <h3>Supporters</h3>
<!--        TODO: report other comments, delete own comment options-->
        <app-supporters-list [supports]="plea.supports"></app-supporters-list>
      </div>
    </div>
  </div>
</div>

<clr-modal
  [(clrModalOpen)]="isOpen"
  [clrModalClosable]="true"
  [clrModalStaticBackdrop]="false" [clrModalSize]="'l'">
  <h3 class="modal-title">Report this plea</h3>
  <div class="modal-body">
    <p>
      Thank you for your vigilance. Please let us know what the problem is and we will evaluate it as soon as possible.
    </p>
    <select clrSelect name="report-reason" [(ngModel)]="reportReason">
      <option value="inappropriate-content">This plea contains inappropriate content</option>
      <option value="already-exists">This product already has a vegan version</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline" (click)="isOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submitReport()">Submit report</button>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</clr-modal>
