<!--TODO: a user should be able to retract support I suppose-->
<!--TODO: a user should also be able to retract their plea. But instead of deleting the plea and all support for it, -->
<!--a default pleagan account should become the owner of the plea ( aka DolphinOnWheels for example )-->
<app-message-display [messageLevels]="['warning']"></app-message-display>
<div id="plea-details-page" *ngIf="plea$ | async as plea">
  <div>
    <h1>
      Dear <span class="highlighted-txt">{{ plea.company.name }}</span
      >,
    </h1>

    <div class="plea-text">
      <p>
        We the pleagans are pleading you to please veganize your
        <span class="highlighted-txt">{{ plea.nonVeganProduct.name }}</span
        >.
      </p>

      <p>
        <span class="highlighted-txt bold">{{ plea.numberOfSupports }}</span> of us
        {{ plea.numberOfSupports > 1 ? 'have' : 'has' }} supported this plea since its initiation on
        <span class="highlighted-txt">{{ plea.createdAt | date: 'dd-MM-yyyy' }} </span>. We are longing for your product
        and want to support your business! As you know, we will and can only do that once your product is 100%
        plant-based.
      </p>
    </div>

    <div id="original-plea">
      <!--    TODO: not visible to owner of plea-->
      <ng-container *showOnAuth="true">
        <div class="plea-support-btn" *ngIf="!(userHasSupported$ | async) && !(userIsInitiator$ | async)">
          <app-plea-support-button [plea]="plea" (hasSupported)="refreshPlea()"></app-plea-support-button>
        </div>
      </ng-container>

      <div class="plea-header">
        <h3>
          Presenting the plea for a plant-based <span class="bold">{{ plea.nonVeganProduct.name }}</span>
        </h3>
        <span>by {{ plea.company.name }}</span>
        <br />
        <div class="tag">
          <span class="bolder">{{ plea.numberOfSupports }}</span> supporter{{ plea.numberOfSupports > 1 ? 's' : null }}
        </div>
      </div>

      <div class="clr-row clr-flex-lg-row-reverse">
        <div class="plea-details clr-col-xl-6 clr-col-12">
          <p>
            Initiated on <span class="bold">{{ plea.createdAt | date: 'dd-MM-yyyy' }}</span
            ><br />
            By <span class="bold">{{ plea.pleagan.displayName }}</span>
          </p>

          <div class="msg-cloud">
            <div class="msg-shape"></div>
            <span class="italic">"{{ plea.description }}"</span>
          </div>
        </div>

        <div class="plea-product-img clr-col-xl-6 clr-col-12">
          <img class="plea-img" src="{{ plea.nonVeganProduct.imageUrl }}" alt="Image of product" />
        </div>
      </div>

      <!--      // TODO: these buttons are secondary but styling is wrong. Should be filled with a bg color-->
      <div class="clr-row util-bar">
        <ul class="btn-list horizontal">
          <!--          TODO: only visible if not owner of this plea-->
          <!--          TODO: if user has reported, this should change to 'reported' and disabled so no user can report a plea twice-->
          <li *showOnAuth="true">
            <button class="btn btn-secondary" aria-label="Report a problem" (click)="reportModalIsOpen = true">
              <clr-icon shape="warning-standard" size="14"></clr-icon>
              Report
            </button>
          </li>
          <!--          TODO: only if not owner of this plea and already supported-->
          <li *showOnAuth="true">
            <ng-container *ngIf="userHasSupported$ | async">
              <button class="btn btn-secondary" aria-label="Retract support" (click)="retractSupportModalIsOpen = true">
                <clr-icon shape="heart-broken"></clr-icon>
                Retract support
              </button>
            </ng-container>
          </li>
          <!--          TODO: only visible if owner of plea-->
          <li *showOnAuth="true">
            <ng-container *ngIf="userIsInitiator$ | async">
              <button class="btn btn-secondary" aria-label="Edit plea">
                <clr-icon shape="note"></clr-icon>
                Edit
              </button>
            </ng-container>
          </li>
          <li>
            <button class="btn btn-secondary" aria-label="Plea statistics">
              <clr-icon shape="align-bottom" size="14"></clr-icon>
              Stats
            </button>
          </li>
          <li>
            <clr-dropdown [clrCloseMenuOnItemClick]="false">
              <button clrDropdownTrigger class="btn btn-secondary" aria-label="Share plea">
                <clr-icon shape="share" size="14"></clr-icon>
                Share
              </button>
              <clr-dropdown-menu *clrIfOpen clrPosition="top-left">
                <div clrDropdownItem>
                  <clr-icon shape="copy"></clr-icon>
                  Copy url
                </div>
              </clr-dropdown-menu>
            </clr-dropdown>
          </li>
        </ul>
      </div>

      <div>
        <h3>Supporters</h3>
        <!--        TODO: report other comments, delete own comment options-->
        <app-supporters-list [supports]="plea.supports"></app-supporters-list>
      </div>
    </div>
  </div>

  <clr-modal
    [(clrModalOpen)]="reportModalIsOpen"
    [clrModalClosable]="true"
    [clrModalStaticBackdrop]="true"
    [clrModalSize]="'l'"
  >
    <h3 class="modal-title">Report this plea</h3>
    <div class="modal-body">
      <p>
        Thank you for your vigilance. Please let us know what the problem is and we will evaluate it as soon as
        possible.
      </p>
      <select clrSelect name="report-reason" [(ngModel)]="reportReason">
        <option value="inappropriate-content">This plea contains inappropriate content</option>
        <option value="already-exists">This product already has a vegan version</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary-outline" (click)="reportModalIsOpen = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="submitReport()">Submit report</button>
    </div>
  </clr-modal>

  <clr-modal
    [(clrModalOpen)]="retractSupportModalIsOpen"
    [clrModalClosable]="true"
    [clrModalStaticBackdrop]="true"
    [clrModalSize]="'l'"
  >
    <h3 class="modal-title">Retract your support</h3>
    <div class="modal-body">
      <p>Please tell us why you'd like retract your support for this plea</p>
      <select clrSelect name="retract-reason" [(ngModel)]="retractReason">
        <option value="already-exists">This product already has a vegan version</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary-outline" (click)="retractSupportModalIsOpen = false">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="retractSupport()">Confirm</button>
    </div>
  </clr-modal>
</div>
