<section id="sign-up-section">
  <div class="section-content">
    <div class="grid">
      <div class="column">
       <div class="column">
         <div class="column three desktop-only">
           <div class="content"></div>
         </div>
         <div class="column three">
           <div class="content">
             <h1>Sign up</h1>
           </div>
           <div class="content">
<!--             <app-loading-indicator [height]="'500px'" [httpStatus]="signUpStatus">-->
              <form (ngSubmit)="signUp(form)" [formGroup]="form">

               <div class="form-row">
                 <p>In order to create or support pleas, you must create an account.</p>
               </div>

               <div class="form-row">
                 <label for="email">Email address</label>
                 <input id="email" type="email" formControlName="email" required />
<!--                   <clr-control-helper>Your email address will be used for verification and, if explicitly enabled, to share news and updates.</clr-control-helper>-->
<!--                   <clr-control-error *clrIfError="'required'">Please enter an email address.</clr-control-error>-->
               </div>

               <div class="form-row">
                 <label for="display-name">Username</label>
                 <input id="display-name" type="text" formControlName="displayName" required />
<!--                   <clr-control-helper>Your username will be the pseudonym under which you are known to other pleagans.</clr-control-helper>-->
<!--                   <clr-control-error *clrIfError="'required'">Please enter a username.</clr-control-error>-->
<!--                   <clr-control-error *clrIfError="'duplicate'">This username is already taken.</clr-control-error>-->
               </div>

               <div class="form-row">
                 <label for="country">Country</label>
                 <select id="country" name="country" formControlName="countryName" required>
                   <option *ngFor="let country of countries" value="{{ country }}">{{ country }}</option>
                 </select>
<!--                   <clr-control-helper>We gather this information in order to learn where demand of a product is concentrated.-->
<!--                     This information is processed anonymously in <a [routerLinkActive] [routerLink]="['/', 'statistics']">our statistics</a>-->
<!--                     and the statistics per plea. You can set your location to private in your profile settings! </clr-control-helper>-->
<!--                   <clr-control-error *clrIfError="'required'">This is required.</clr-control-error>-->
               </div>

               <div class="form-row">
                 <label for="password">Password</label>
                 <input id="password" type="password" formControlName="password" required />
<!--                   <clr-control-helper>Your password must be at least 6 characters long.</clr-control-helper>-->
<!--                   <clr-control-error *clrIfError="'required'">Please enter a password.</clr-control-error>-->
<!--                   <clr-control-error *clrIfError="'minlength'">Your password must be at least 6 characters long.</clr-control-error>-->
               </div>

               <div class="form-row">
                 <label for="confirm-password">Confirm password</label>
                 <input id="confirm-password" type="password" formControlName="confirmPassword" required />
<!--                   <clr-control-error *clrIfError="'required'">Please enter a password.</clr-control-error>-->
<!--                   <clr-control-error *clrIfError="'minLength'">Password must be at least 6 characters long.</clr-control-error>-->
<!--                   <clr-control-error *clrIfError="'nomatch'">Passwords must match.</clr-control-error>-->
               </div>

            <app-notification [notificationLevels]="['warning']"></app-notification>

<!--                 todo: [disabled]="!form.valid" no longer works because it is a elm now. Use disabled state instead-->
               <div class="align-right">
                 <a role="button" class="btn btn-primary" (click)="signUp(form)">
                   Sign up
                 </a>
               </div>
             </form>
<!--               </app-loading-indicator>-->
           </div>
         </div>
         <div class="column three desktop-only">
           <div class="content"></div>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>
