.main-container .content-container .content-area {
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {
  .main-container .content-container .content-area {
    max-width: 70vw;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .main-container .content-container .content-area {
    max-width: 50vw;
  }
}
