/*@start main-container*/
.main-container {
  width: 100%;
}
/*@end main-container*/



/*@start grid*/
@media only screen and (min-width: 1024px) {
  .grid {
    width: 70vw;
    max-width: 70vw;
  }
}

@media only screen and (min-width: 1440px) {
  .grid {
    width: 50vw;
    max-width: 50vw;
  }
}
/*@end grid*/



/*@start content-area*/
.main-container .content-container .content-area {
  padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {
  .main-container .content-container .content-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: scroll;
  }
}
/*@end content-area*/
