html{
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  --clr-font: Arial, sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--clr-font)!important;
  }
}

.underlined {
  text-decoration: underline !important;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

.larger {
  font-size: larger;
}

.highlighted-div p,
.highlighted-div a,
.highlighted-div span {
  color: var(--primary-text-color);
  margin: 5px;
}

a:link {
  color: hotpink;
}

a:visited {
  color: red;
}

.highlighted-txt {
  color: var(--primary-accent-color);
}
