/*@start base font*/
* {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 768px){
  * {
    font-size: 18px;
  }
}
/*@end base font*/



/*@start headers*/
h1 { font-size: 4rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1rem; }

@media only screen and (min-width: 768px){
  h1 { font-size: 6.1rem; }
  h2{ font-size: 3.8rem }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 1.5rem; }
}
/*@end headers*/



/*@start text decoration*/
.underlined {
  text-decoration: underline;
}
/*@end text decoration*/



/*@start p*/
p, sub {
  line-height: 2rem;
}
/*@end p*/



/*@start text styles*/
.bold {
  font-weight: bold;
}
/*@end text styles*/



/*@start text styles*/
.italic {
  font-style: italic;
}
/*@end text styles*/



/*@start danger text*/
.danger-text {
  color: var(--danger-color);
}
/*@end danger text*/



/*@start bordered text*/
.bordered-text {
  border-bottom: 1px solid var(--primary-color);
  padding: 5px 0;
}
/*@end bordered text*/



/*@start small*/
small {
  padding: 10px 0;
  display: block;
  font-size: .8rem;
}
/*@end small*/



/*@start sub*/
sub {
  display: block;
  margin-top: 1rem;
  font-size: 1.25rem;
}
/*@end sub*/
