/*@start text alignments*/
.align-center { text-align: center; }
/*@end text alignments*/



/*@start screen size exclusions*/
.desktop-only {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: initial;
  }
}
/*@end screen size exclusions*/
